openapi: 3.2.0
info:
  title: Ocean.io API Documentation Search API
  summary: Welcome to Ocean.io's API.
  description: "\n            Welcome to Ocean.io's API.\n            The API can be used to access all our API endpoints, such as our enrich API to look up company information, or our discover API to identify companies based on specific search criteria such as semantic similarity, technologies or industries.\n            Ocean.io's APIs are a set of HTTPS endpoints that you can use to retrieve and integrate Ocean.io's data into your existing workflows.\n            All requests should be made through https and the request and response bodies should be formatted in JSON.\n        "
  version: 2.0.0
  x-logo:
    url: https://cdn2.ocean.io/assets/images/logo/256x92_ocean-logo.svg
servers:
- url: https://api.ocean.io
tags:
- name: Search
paths:
  /v2/search/companies:
    post:
      tags:
      - Search
      summary: Lookalike companies search (deprecated)
      description: Search companies using filters.
      operationId: searchCompanies
      deprecated: true
      parameters:
      - name: apiToken
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apitoken
      - name: x-api-token
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Api-Token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicSearchCompaniesBodyV1'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicSearchCompaniesResult'
        '403':
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    enum:
                    - API token should be provided in headers or query parameters
                    - Current API token is not registered in our database
                required:
                - detail
          description: Forbidden
        '402':
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    enum:
                    - Insufficient credits
                required:
                - detail
          description: Payment Required
        '400':
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    enum:
                    - Conflicting API tokens provided in query parameters and headers
                    - Plan version not supported for this endpoint
                required:
                - detail
          description: Bad Request
        '404':
          description: Not found
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v3/search/companies:
    post:
      tags:
      - Search
      summary: Lookalike companies search
      description: 'Search companies using filters.


        Looking for the legacy endpoint? [Access it here](/docs/searchCompanies)'
      operationId: searchCompaniesV3
      parameters:
      - name: apiToken
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apitoken
      - name: x-api-token
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Api-Token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicSearchCompaniesBodyV3'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicSearchCompaniesResultWithRelevance'
        '403':
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    enum:
                    - API token should be provided in headers or query parameters
                    - Current API token is not registered in our database
                required:
                - detail
          description: Forbidden
        '402':
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    enum:
                    - Insufficient credits
                required:
                - detail
          description: Payment Required
        '400':
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    enum:
                    - Conflicting API tokens provided in query parameters and headers
                required:
                - detail
          description: Bad Request
        '404':
          description: Not found
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/search/people:
    post:
      tags:
      - Search
      summary: Search people (deprecated)
      description: Search people using filters and/or people Ids
      operationId: searchPeople
      parameters:
      - name: apiToken
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apitoken
      - name: x-api-token
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Api-Token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicSearchPeopleBody'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicSearchPeopleResult'
        '403':
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    enum:
                    - API token should be provided in headers or query parameters
                    - Current API token is not registered in our database
                required:
                - detail
          description: Forbidden
        '402':
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    enum:
                    - Insufficient standard credits
                required:
                - detail
          description: Payment Required
        '400':
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    enum:
                    - Conflicting API tokens provided in query parameters and headers
                    - Plan version not supported for this endpoint
                required:
                - detail
          description: Bad Request
        '404':
          description: Not found
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v3/search/people:
    post:
      tags:
      - Search
      summary: Lookalike people search
      description: 'Search people using filters and/or people Ids


        Looking for the legacy endpoint? [Access it here](/docs/searchPeople)


        **Webhook result:**

        [Email results](/docs/webhooks/people_search_emails)

        [Phone results](/docs/webhooks/people_search_phones)'
      operationId: searchPeopleV3
      parameters:
      - name: apiToken
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apitoken
      - name: x-api-token
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Api-Token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicSearchPeopleBodyV3'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LookalikePeopleResultV3'
        '403':
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    enum:
                    - API token should be provided in headers or query parameters
                    - Current API token is not registered in our database
                required:
                - detail
          description: Forbidden
        '402':
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    enum:
                    - Insufficient credits
                required:
                - detail
          description: Payment Required
        '400':
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    enum:
                    - Conflicting API tokens provided in query parameters and headers
                required:
                - detail
          description: Bad Request
        '404':
          description: Not found
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v3/search/people/preview:
    post:
      tags:
      - Search
      summary: Preview - Lookalike people
      description: "Preview search people with company information. \n **Only available for enterprise API customers.**"
      operationId: searchPeopleV3Preview
      parameters:
      - name: apiToken
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apitoken
      - name: x-api-token
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Api-Token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicSearchPeopleBodyV3PreviewV3'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicSearchPeopleResultPreviewV3'
        '403':
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    enum:
                    - API token should be provided in headers or query parameters
                    - Current API token is not registered in our database
                required:
                - detail
          description: Forbidden
        '402':
          content:
            application/json:
              schema:
                title: ''
                type: object
                properties:
                  detail:
                    type: string
                    enum:
                    - Insufficient email credits
                    - Some email verifications are already in progress and might use all your remaining email credits. Please try again later.
                    - Insufficient phone credits
                    - Some phone verifications are already in progress and might use all your remaining phone credits. Please try again later.
                    - Insufficient credits
                required:
                - detail
          description: Payment Required
        '400':
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    enum:
                    - Conflicting API tokens provided in query parameters and headers
                required:
                - detail
          description: Bad Request
        '404':
          description: Not found
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v3/search/companies/preview:
    post:
      tags:
      - Search
      summary: Preview - Lookalike companies
      description: "Preview search companies using filters. \n **Only available for enterprise API customers.**"
      operationId: previewSearchCompaniesV3
      parameters:
      - name: apiToken
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Apitoken
      - name: x-api-token
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Api-Token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicPreviewSearchCompaniesV3Body'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicPreviewSearchCompaniesV3Response'
        '403':
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    enum:
                    - API token should be provided in headers or query parameters
                    - Current API token is not registered in our database
                    - You are not allowed to access this feature
                required:
                - detail
          description: Forbidden
        '402':
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    enum:
                    - Insufficient credits
                required:
                - detail
          description: Payment Required
        '400':
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    enum:
                    - Conflicting API tokens provided in query parameters and headers
                required:
                - detail
          description: Bad Request
        '404':
          description: Not found
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    FundingRoundFilter:
      properties:
        raised:
          $ref: '#/components/schemas/FromTo'
          nullable: true
          title: Raised amount
          description: 'Amount of money raised in funding round. Valid range: 0-100,000,000,000'
          examples:
          - from: 1000000
            to: 5000000
        types:
          items:
            $ref: '#/components/schemas/FundingRoundType'
          type: array
          nullable: true
          title: Funding round types
          description: List of funding round types
          examples:
          - - Seed
            - Series A
        date:
          $ref: '#/components/schemas/FromToStringDate'
          nullable: true
          title: Funding date
          description: 'Date range of the funding round. Valid range: 1800-01-01 to 2100-12-31'
          examples:
          - from: '2023-01-01'
            to: '2024-01-01'
      additionalProperties: false
      type: object
      title: FundingRoundFilter
    PublicPreviewCompanyV3:
      properties:
        name:
          type: string
          title: Company name
          description: Name of the company
          examples:
          - Google
          - Apple
          - Microsoft
        logo:
          type: string
          title: Company logo
          description: URL to the company logo
          examples:
          - https://cdn2.ocean.io/logos/ocean.io/b162ddc061a4ca67e8aacbbf747dc8e62cce7496.png
        topIndustries:
          items:
            type: string
          type: array
          title: Top industries
          description: Array of top 3 industries
          examples:
          - - Analytics
            - B2B
            - Software
          - - Analytics
            - B2B
            - Lead Generation
        size:
          type: string
          nullable: true
          title: Company size
          description: Company size in brackets
          examples:
          - 501-1000
          - 1001-5000
        description:
          type: string
          title: Company description
          description: Company description
          examples:
          - B2B Sales and Marketing teams use Ocean.io's prospecting data platform to find accounts and contacts no one else can.
        primaryCountry:
          type: string
          nullable: true
          title: Primary country
          description: 'Primary country code of the company '
          examples:
          - us
          - gb
          - dk
        primaryRegion:
          type: string
          nullable: true
          title: Primary region
          description: Primary region code of the company
          examples:
          - CA
          - UKE
          - WA
        linkedinHandle:
          type: string
          nullable: true
          title: LinkedIn handle
          description: LinkedIn company handle/username
          examples:
          - zoominfo
          - ocean-io
      type: object
      required:
      - name
      - logo
      - topIndustries
      - size
      - description
      - primaryCountry
      - primaryRegion
      title: PublicPreviewCompanyV3
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    PersonCompany:
      properties:
        companySize:
          $ref: '#/components/schemas/PublicCompanySize'
          nullable: true
          title: Company size range
          description: Company size range
          examples:
          - 2-10
        logo:
          type: string
          nullable: true
          title: Logo
          description: Logo of the company (URL)
          examples:
          - https://cdn2.ocean.io/companies-logos-v1/domain.com/020539e284d9318e805301b672ad23047c30818a.png
        name:
          type: string
          nullable: true
          title: Name
          description: Name of the company
          examples:
          - Dunder Mifflin Paper Company
        revenue:
          $ref: '#/components/schemas/Revenue'
          nullable: true
          title: Revenue range
          description: Revenue range
          examples:
          - 1-10M
        employeeCountOcean:
          type: integer
          nullable: true
          title: Employeecountocean
          description: Number of people working at the company in our database.
          examples:
          - 57
        industries:
          items:
            type: string
          type: array
          nullable: true
          title: Industries
          description: Industries of the company<br>Available values can be found at /v2/data-fields endpoint.
          examples:
          - - Audio
            - Electronics
        technologies:
          items:
            type: string
          type: array
          nullable: true
          title: Technologies
          description: Software technologies used by the company
          examples:
          - - Accesso
            - Adcash
            - Atlassian Jira
        fundingRound:
          $ref: '#/components/schemas/FundingRound'
          nullable: true
          title: Funding round
          description: Funding round of the company
          examples:
          - cbUrl: https://www.crunchbase.com/funding_round/5c26b0c0
            date: '2020-01-01'
            moneyRaisedInUsd: 1000000
            type: Seed
      type: object
      title: PersonCompany
    LocationsFilter:
      properties:
        includeCountries:
          items:
            type: string
          type: array
          nullable: true
          title: Include countries
          description: Filter by all countries where the company has presence.<br>Must be provided as alpha-2 ISO 3166 country codes.
          examples:
          - - es
        excludeCountries:
          items:
            type: string
          type: array
          nullable: true
          title: Exclude countries
          description: Exclude companies that are present in the specified countries.<br>Must be provided as alpha-2 ISO 3166 country codes.
          examples:
          - - br
            - de
        includeRegions:
          items:
            $ref: '#/components/schemas/State'
          type: array
          nullable: true
          title: Include regions (states / provinces)
          description: Filter by country regions — US states, Canadian provinces, etc. (if applicable). Available values are located at /v2/data-fields endpoint.
          examples:
          - - abbreviation: CA
              country: us
            - abbreviation: YT
              country: ca
        excludeRegions:
          items:
            $ref: '#/components/schemas/State'
          type: array
          nullable: true
          title: Exclude regions (states / provinces)
          description: Exclude companies present in the specified regions — US states, Canadian provinces, etc. (if applicable). Available values are located at /v2/data-fields endpoint.
          examples:
          - - abbreviation: CA
              country: us
            - abbreviation: YT
              country: ca
        includeCities:
          items:
            $ref: '#/components/schemas/CompaniesCityFilter'
          type: array
          nullable: true
          title: Include cities
          description: Filter by cities
          examples:
          - - city: New York
              country: us
            - city: Los Angeles
              country: us
        excludeCities:
          items:
            $ref: '#/components/schemas/CompaniesCityFilter'
          type: array
          nullable: true
          title: Exclude cities
          description: Exclude companies that are present in the specified cities
          examples:
          - - city: New York
              country: us
            - city: Los Angeles
              country: us
        geolocation:
          $ref: '#/components/schemas/GeolocationFilter'
          nullable: true
          title: Geographical location
          description: Filter by latitude and longitude
          examples:
          - latitude: 38.880817
            longitude: -77.10216
            radius: 1000
      additionalProperties: false
      type: object
      title: LocationsFilter
    PublicPreviewSearchCompaniesV3Response:
      properties:
        totalHits:
          type: integer
          title: Total hits
          description: Total number of companies found
          examples:
          - 5173
        redirectMap:
          additionalProperties:
            type: string
          type: object
          nullable: true
          title: Domain redirection mapping
          description: Mapping of original domains passed in filters to their redirected domains.
          examples:
          - given_local_domain.uk: original.com
            ikea.nl: ikea.com
        creditsUsed:
          type: number
          title: Creditsused
          description: Number of credits charged for this request.
          examples:
          - 1.0
        companies:
          items:
            $ref: '#/components/schemas/PublicPreviewCompanyV3Result'
          type: array
          title: Companies found
          description: Array of found companies. Returns empty array if no results
      additionalProperties: false
      type: object
      required:
      - totalHits
      - creditsUsed
      - companies
      title: PublicPreviewSearchCompaniesV3Response
    DepartmentGrowthAllAnyFilter:
      properties:
        anyOf:
          items:
            $ref: '#/components/schemas/DepartmentGrowthFilter'
          type: array
          nullable: true
          title: Any of department headcount growth filters
          description: The result should match **any** of the department headcount growth filters.
          examples:
          - - asPercentage: false
              department: Accounting and Finance
              growthRange:
                from: -1.0
                to: 3.0
              months: Three months
        allOf:
          items:
            $ref: '#/components/schemas/DepartmentGrowthFilter'
          type: array
          nullable: true
          title: All values
          description: The result should match **all** of the he department headcount growth filters.
          examples:
          - - asPercentage: false
              department: Accounting and Finance
              growthRange:
                from: -1.0
                to: 3.0
              months: Three months
      additionalProperties: false
      type: object
      title: DepartmentGrowthAllAnyFilter
    PublicPreviewSearchCompaniesV3Body:
      properties:
        size:
          type: integer
          maximum: 50.0
          minimum: 5.0
          title: Maximum number of results
          description: Number of companies to return. The maximum value is 50 and the minimum is 5
          default: 50
          examples:
          - 50
        companiesFilters:
          $ref: '#/components/schemas/CompaniesFiltersV3'
          nullable: true
          title: Companies filters
          description: Collection of companies filters to be applied to the search
        peopleFilters:
          $ref: '#/components/schemas/PeopleFiltersV3'
          nullable: true
          title: People filters
          description: Collection of people filters to be applied to the search
      additionalProperties: false
      type: object
      title: PublicPreviewSearchCompaniesV3Body
    Revenue:
      type: string
      enum:
      - 0-1M
      - 1-10M
      - 10-50M
      - 50-100M
      - 100-500M
      - 500-1000M
      - '>1000M'
      title: Revenue
    KeywordsFilterV1:
      properties:
        keywords:
          items:
            type: string
          type: array
          title: Keywords
          description: Array of the keywords
        mode:
          type: string
          enum:
          - anyOf
          - allOf
          - noneOf
          title: Search mode
          description: '[default] anyOf - match at least one of the keywords<br>allOf - match all of the keywords<br>noneOf - match none of the keywords'
          default: anyOf
      additionalProperties: false
      type: object
      required:
      - keywords
      title: KeywordsFilterV1
    PublicPerson:
      properties:
        id:
          type: string
          title: Id
          description: Internal ocean id of the person
          examples:
          - e9447c74eafa8a19
        domain:
          type: string
          title: Domain
          description: Domain of the company the person is working for
          examples:
          - google.com
        name:
          type: string
          nullable: true
          title: Name
          description: Full name of the person
          examples:
          - John Doe
        firstName:
          type: string
          nullable: true
          title: Firstname
          description: First name of the person
          examples:
          - John
        lastName:
          type: string
          nullable: true
          title: Lastname
          description: Last name of the person
          examples:
          - Doe
        country:
          type: string
          nullable: true
          title: Country
          description: Country code of the person
          examples:
          - us
          - dk
        state:
          type: string
          nullable: true
          title: State
          description: State code of the person
          examples:
          - CA
          - NY
        location:
          type: string
          nullable: true
          title: Location
          description: Location of the person
          examples:
          - Copenhagen, Capital Region, Denmark
        linkedinUrl:
          type: string
          nullable: true
          title: Linkedinurl
          description: Link to the linkedin profile of the person
          examples:
          - https://www.linkedin.com/in/someone
        seniorities:
          items:
            $ref: '#/components/schemas/Seniority'
          type: array
          nullable: true
          title: Seniorities
          description: List of seniorities computed from the job title of the person
          examples:
          - - C-Level
            - Manager
        departments:
          items:
            $ref: '#/components/schemas/Department'
          type: array
          nullable: true
          title: Departments
          description: List of departments computed from the job title of the person
          examples:
          - - Management
            - Marketing and Advertising
        photo:
          type: string
          nullable: true
          title: Photo
          description: Link to the person's profile picture on LinkedIn
          examples:
          - http://media.licdn.com/dms/image/somelink
        jobTitle:
          type: string
          nullable: true
          title: Jobtitle
          description: Job title of the person
          examples:
          - Professeur
        jobTitleEnglish:
          type: string
          nullable: true
          title: Jobtitleenglish
          description: English translation of the person's job title
          examples:
          - Teacher
        currentJobDescription:
          type: string
          nullable: true
          title: Currentjobdescription
          description: Current job description of the person
          examples:
          - Software Engineer specializing in cloud infrastructure
        experiences:
          items:
            $ref: '#/components/schemas/Experience'
          type: array
          nullable: true
          title: Experiences
          description: List of experiences of the person
          examples:
          - - dateFrom: '2020-01-01'
              dateTo: '2021-01-01'
              description: Software Engineer specializing in cloud infrastructure
              domain: domain.com
              jobTitle: Software Engineer
        summary:
          type: string
          nullable: true
          title: Summary
          description: Summary of the person
          examples:
          - Some text that the person wrote to describe themselves
        skills:
          items:
            type: string
          type: array
          nullable: true
          title: Skills
          description: Skills of the person
          examples:
          - - Product Management
            - Entrepreneurship
            - Social Media
        phone:
          $ref: '#/components/schemas/public_api__models__person__Phone'
          nullable: true
          description: Phone numbers of the person
          examples:
          - numbers:
            - '+4512345678'
            - +33 6 00 00 00 00
            status: verified
        email:
          $ref: '#/components/schemas/public_api__models__person__Email'
          nullable: true
          description: Email of the person
          examples:
          - address: example.jonas@ocean.io
            status: verified
        inferredEmails:
          items:
            type: string
          type: array
          title: Inferredemails
          description: List of inferred email addresses for the person. This is only available for enterprise subscriptions.
          examples:
          - - john.doe@domain.com
            - j.doe@domain.com
        updatedAt:
          type: string
          nullable: true
          title: Updated at
          description: When has the person data been updated for the last time
          examples:
          - '2022-10-27T12:09:37Z'
        connectionsCount:
          type: integer
          nullable: true
          title: Number of connections
          description: Number of LinkedIn connections of the person
          examples:
          - 10
          - 500
        followersCount:
          type: integer
          nullable: true
          title: Number of followers
          description: Number of LinkedIn followers of the person
          examples:
          - 50
          - 1000
        headline:
          type: string
          nullable: true
          title: Headline
          description: Headline of the person
          examples:
          - Senior Software Engineer | Tech Lead
      type: object
      required:
      - id
      - domain
      title: PublicPerson
    PublicSearchPeopleResultPreviewV3:
      properties:
        detail:
          type: string
          title: Detail
          description: Status text
          examples:
          - OK
        total:
          type: integer
          nullable: true
          title: Total
          description: Total number of the available results.
          examples:
          - 75
        redirectMap:
          additionalProperties:
            type: string
          type: object
          nullable: true
          title: Domain redirection mapping
          description: Mapping of original domains passed in filters to their redirected domains.
          examples:
          - given_local_domain.uk: original.com
            ikea.nl: ikea.com
        creditsUsed:
          type: number
          title: Creditsused
          description: Number of credits charged for this request.
          examples:
          - 1.0
        people:
          items:
            $ref: '#/components/schemas/PublicPersonWithCompanyPreview'
          type: array
          title: People found
          description: Array of found people. Returns empty array if no results
      type: object
      required:
      - detail
      - creditsUsed
      - people
      title: PublicSearchPeopleResultPreviewV3
    CompanyField:
      type: string
      enum:
      - domain
      - countries
      - primaryCountry
      - companySize
      - industryCategories
      - industries
      - linkedinIndustry
      - ecommerce
      - keywords
      - employeeCountOcean
      - employeeCountLinkedin
      - revenue
      - yearFounded
      - description
      - emails
      - phones
      - phones.number
      - phones.country
      - phones.primary
      - logo
      - technologies
      - technologyCategories
      - mobileApps
      - mobileApps.link
      - mobileApps.name
      - webTraffic
      - webTraffic.visits
      - webTraffic.pageViews
      - webTraffic.pagesPerVisit
      - medias
      - medias.linkedin
      - medias.twitter
      - medias.youtube
      - medias.facebook
      - medias.xing
      - medias.tiktok
      - medias.instagram
      - name
      - legalName
      - locations
      - locations.primary
      - locations.country
      - locations.locality
      - locations.region
      - locations.postalCode
      - locations.streetAddress
      - locations.state
      - locations.regionCode
      - departmentSizes
      - rootUrl
      - faxes
      - faxes.number
      - faxes.country
      - faxes.primary
      - impressum
      - impressum.company
      - impressum.address
      - impressum.email
      - impressum.phone
      - impressum.fax
      - impressum.vat
      - impressum.url
      - impressum.people
      - fundingRound
      - fundingRound.date
      - fundingRound.type
      - fundingRound.moneyRaisedInUsd
      - fundingRound.cbUrl
      - redirectedFrom
      - updatedAt
      - headcountGrowth
      - headcountGrowth.threeMonths
      - headcountGrowth.threeMonthsPercentage
      - headcountGrowth.sixMonths
      - headcountGrowth.sixMonthsPercentage
      - headcountGrowth.twelveMonths
      - headcountGrowth.twelveMonthsPercentage
      - headcountGrowthPerDepartment
      title: CompanyField
    MobileApp:
      properties:
        link:
          type: string
          nullable: true
          title: url
          description: Website address for this app
          examples:
          - https://www.my.app.com/
        name:
          type: string
          title: App name
          description: App name
          examples:
          - My awesome app
      type: object
      required:
      - name
      title: MobileApp
    DepartmentSizesGrowth:
      properties:
        department:
          $ref: '#/components/schemas/Department'
          description: Department name
        growth:
          $ref: '#/components/schemas/Growth'
          nullable: true
          title: Headcount growth
          description: Headcount growth per department
      type: object
      required:
      - department
      - growth
      title: DepartmentSizesGrowth
    FundingRoundType:
      type: string
      enum:
      - Seed
      - Series A
      - Angel
      - Series B
      - Series Unknown
      - Pre-Seed
      - Grant
      - Series C
      - Convertible Note
      - Debt Financing
      - Non-Equity Assistance
      - Undisclosed
      - Series D
      - Corporate Round
      - Equity Crowdfunding
      - Product Crowdfunding
      - Series E
      - Private Equity
      - Secondary Market
      - Initial Coin Offering
      - Post-IPO Equity
      - Series F
      - Post-IPO Debt
      - Series H
      - Series G
      - Post-IPO Secondary
      - Series I
      - Series J
      title: FundingRoundType
    TechnologiesFilterV1:
      properties:
        technologies:
          items:
            type: string
          type: array
          title: Technologies
          description: Array of the technologies to include
        mode:
          type: string
          enum:
          - anyOf
          - allOf
          title: Search mode
          description: '[default] anyOf - match at least one of the technologies<br>allOf - match all of the technologies'
          default: anyOf
      additionalProperties: false
      type: object
      required:
      - technologies
      title: TechnologiesFilterV1
    AllAnyNoneFilterSocialMedia:
      properties:
        anyOf:
          items:
            type: string
            enum:
            - linkedin
            - x
            - facebook
            - instagram
            - youtube
            - xing
            - tiktok
          type: array
          nullable: true
          title: Any of the values
          description: The filter should match **any** of the specified values.
        allOf:
          items:
            type: string
            enum:
            - linkedin
            - x
            - facebook
            - instagram
            - youtube
            - xing
            - tiktok
          type: array
          nullable: true
          title: All values
          description: The filter should match **all** of the specified values.
        noneOf:
          items:
            type: string
            enum:
            - linkedin
            - x
            - facebook
            - instagram
            - youtube
            - xing
            - tiktok
          type: array
          nullable: true
          title: None of the values
          description: The filter should match **none** of the specified values.
      additionalProperties: false
      type: object
      title: AllAnyNoneFilterSocialMedia
    SocialMediasFilterV1:
      properties:
        medias:
          items:
            type: string
            enum:
            - linkedin
            - x
            - facebook
            - instagram
            - youtube
            - xing
            - tiktok
          type: array
          title: Social medias
          description: Array of the social medias to include
        mode:
          type: string
          enum:
          - anyOf
          - allOf
          title: Search mode
          description: '[default] anyOf - match at least one of the medias<br>allOf - match all of the medias'
          default: anyOf
      additionalProperties: false
      type: object
      required:
      - medias
      title: SocialMediasFilterV1
    FromToFloat:
      properties:
        from:
          type: number
          nullable: true
          title: Greater than or equal to
          description: Greater than or equal to
        to:
          type: number
          nullable: true
          title: Less than or equal to
          description: Less than or equal to
      additionalProperties: false
      type: object
      title: FromToFloat
    PublicPersonPreviewBase:
      properties:
        name:
          type: string
          nullable: true
          title: Name
          description: Full name of the person
          examples:
          - John ***
        jobTitle:
          type: string
          nullable: true
          title: Jobtitle
          description: Job title of the person
          examples:
          - CEO
      type: object
      title: PublicPersonPreviewBase
    State:
      properties:
        country:
          type: string
          minLength: 1
          title: Country code
          description: Alpha-2 ISO 3166 country code
          examples:
          - us
          - ca
        abbreviation:
          type: string
          minLength: 1
          title: State name abbreviation
          description: 'Valid state abbreviation. List available in the region section there: /v2/data-fields.'
      additionalProperties: false
      type: object
      required:
      - country
      - abbreviation
      title: State
    Seniority:
      type: string
      enum:
      - Owner
      - Founder
      - Board Member
      - C-Level
      - Partner
      - VP
      - Head
      - Director
      - Manager
      - Other
      title: Seniority
    AllJobDescriptionsFilter:
      properties:
        allOf:
          items:
            type: string
          type: array
          nullable: true
          title: All of
          description: Job descriptions must include all of these
          examples:
          - - software engineer
        anyOf:
          items:
            type: string
          type: array
          nullable: true
          title: Any of
          description: Job descriptions must include at least one of these
          examples:
          - - software engineer
        noneOf:
          items:
            type: string
          type: array
          nullable: true
          title: None of
          description: Job descriptions must not include any of these
          examples:
          - - entry-level
      additionalProperties: false
      type: object
      title: AllJobDescriptionsFilter
    PublicCompanyWithScore:
      properties:
        company:
          $ref: '#/components/schemas/PublicCompany'
          title: Company
          description: Company found in the database
        score:
          type: number
          maximum: 1.0
          minimum: 0.0
          nullable: true
          title: Similarity score
          description: Similarity score used for similarity search
          examples:
          - 0.96
      type: object
      required:
      - company
      title: PublicCompanyWithScore
    LookalikePeopleResultV3:
      properties:
        people:
          items:
            $ref: '#/components/schemas/LookalikePerson'
          type: array
          title: People
        detail:
          type: string
          title: Detail
          description: Status text
          examples:
          - OK
        lookalikePeopleStatuses:
          $ref: '#/components/schemas/LookalikePeopleStatuses'
          nullable: true
          title: Lookalike people statuses
          description: Statuses of the lookalike people
        total:
          type: integer
          nullable: true
          title: Total
          description: Total number of results of the search, accessible with pagination.
          examples:
          - 32871
        searchAfter:
          type: string
          nullable: true
          title: Search after
          description: Used for pagination. Use `searchAfter` returned by this request in the next request to get the next page of search results.
          examples:
          - NoBgdA7BAsBMEgGwBoAEAiADgGwK4HN8BTAJwC8wBjAewFt0BdIA
        redirectMap:
          additionalProperties:
            type: string
          type: object
          nullable: true
          title: Domain redirection mapping
          description: Mapping of original domains passed in filters to their redirected domains.
          examples:
          - given_local_domain.uk: original.com
            ikea.nl: ikea.com
        creditsUsed:
          type: number
          title: Creditsused
          description: Number of credits charged for this request.
          examples:
          - 1.0
        includeDomainsStatuses:
          additionalProperties:
            anyOf:
            - type: string
              enum:
              - missing context vector
              - missing industries
              - missing keywords
              - missing industry categories
            - type: string
              enum:
              - bad content
              - crawler failed
              - data gathering started
              - in progress
              - invalid domain
              - other error
              - robots disallowed
              - unsupported language
              - invalid redirect
              - ssl certificate error
          type: object
          nullable: true
          title: Include domains statuses
          description: Domains from `includeDomains` filter that were not found in the search results, along with the reason
          examples:
          - bad-content-domain.com: bad content
            invalid-domain.com: invalid domain
            not-found-domain.com: in progress
      type: object
      required:
      - people
      - detail
      - creditsUsed
      title: LookalikePeopleResultV3
    FromToStringDate:
      properties:
        from:
          type: string
          nullable: true
          title: Greater than or equal to
          description: Date in YYYY-MM-DD format
        to:
          type: string
          nullable: true
          title: Less than or equal to
          description: Date in YYYY-MM-DD format
      additionalProperties: false
      type: object
      title: FromToStringDate
    LookalikePeopleStatuses:
      properties:
        successfulPeople:
          items:
            type: string
          type: array
          nullable: true
          title: Successful people
          description: People that are found in the database
          examples:
          - - person_id_1
            - person_id_2
        notFoundPeople:
          items:
            type: string
          type: array
          nullable: true
          title: Not found people
          description: People that are not found in the database
          examples:
          - - person_id_1
            - person_id_2
        triggeredDomainPeople:
          items:
            type: string
          type: array
          nullable: true
          title: Triggered domain people
          description: People linked to a company that was not crawled
          examples:
          - - person_id_1
            - person_id_2
        missingCompanyInformationPeople:
          items:
            type: string
          type: array
          nullable: true
          title: Missing company information people
          description: People linked to a company that is missing necessary data
          examples:
          - - person_id_1
            - person_id_2
      type: object
      title: LookalikePeopleStatuses
    PublicSearchCompaniesResultWithRelevance:
      properties:
        searchAfter:
          type: string
          nullable: true
          title: Search after
          description: Used for pagination. Use `searchAfter` returned by this request in the next request to get the next page of search results. If `searchAfter` is not present in the response then there is no next page.
          examples:
          - NoBgdA7BAsBMEgGwBoAEAiADgGwK4HN8BTAJwC8wBjAewFt0BdIA
        detail:
          type: string
          title: Detail
          description: Status text
          examples:
          - OK
        total:
          type: integer
          nullable: true
          title: Total
          description: Total number of results of the search, accessible with pagination.
          examples:
          - 32871
        missingDomains:
          additionalProperties:
            anyOf:
            - type: string
              enum:
              - missing context vector
              - missing industries
              - missing keywords
              - missing industry categories
            - type: string
              enum:
              - bad content
              - crawler failed
              - data gathering started
              - in progress
              - invalid domain
              - other error
              - robots disallowed
              - unsupported language
              - invalid redirect
              - ssl certificate error
          type: object
          nullable: true
          title: Missing domains
          description: Domains from `lookalikeDomains` filter that are either not present in Ocean's database or present but lacking necessary data to perform the search, along with the reason
          examples:
          - domain-with-bad-content.com: bad content
            domain-with-missing-context-vector.com: missing context vector
            not-yet-crawled-domain.com: data gathering started
        redirectMap:
          additionalProperties:
            type: string
          type: object
          nullable: true
          title: Domain redirection mapping
          description: Mapping of original domains passed in filters to their redirected domains.
          examples:
          - given_local_domain.uk: original.com
            ikea.nl: ikea.com
        creditsUsed:
          type: number
          title: Creditsused
          description: Number of credits charged for this request.
          examples:
          - 1.0
        companies:
          items:
            $ref: '#/components/schemas/PublicCompanyWithRelevance'
          type: array
          title: Companies found
          description: Array of found companies. Returns empty array if no results
        includeDomainsStatuses:
          additionalProperties:
            anyOf:
            - type: string
              enum:
              - missing context vector
              - missing industries
              - missing keywords
              - missing industry categories
            - type: string
              enum:
              - bad content
              - crawler failed
              - data gathering started
              - in progress
              - invalid domain
              - other error
              - robots disallowed
              - unsupported language
              - invalid redirect
              - ssl certificate error
          type: object
          nullable: true
          title: Include domains statuses
          description: Domains from `includeDomains` filter that were not found in the search results, along with the reason
          examples:
          - bad-content-domain.com: bad content
            invalid-domain.com: invalid domain
            not-found-domain.com: other error
      type: object
      required:
      - detail
      - creditsUsed
      - companies
      title: PublicSearchCompaniesResultWithRelevance
    RevealEmails:
      properties:
        includeEmails:
          type: boolean
          title: Include emails
          description: Include the emails for all the results. One email credit will be charged for each verified email.
          default: false
          examples:
          - true
        webhookUrl:
          type: string
          nullable: true
          title: Webhook url
          description: Only relevant if `includeEmails` is True. Webhook url to get the reveal email results, if any email has to be processed in the background.
          examples:
          - https://url.com/webhook
      additionalProperties: false
      type: object
      title: RevealEmails
    PublicCompanySize:
      type: string
      enum:
      - 0-1
      - 2-10
      - 11-50
      - 51-200
      - 201-500
      - 501-1000
      - 1001-5000
      - 5001-10000
      - 10001-50000
      - 50001-100000
      - 100001-500000
      - 500000+
      title: PublicCompanySize
    DepartmentSizeFilter:
      properties:
        from:
          type: integer
          nullable: true
          title: Greater than or equal to
          description: Greater than or equal to
        to:
          type: integer
          nullable: true
          title: Less than or equal to
          description: Less than or equal to
        department:
          $ref: '#/components/schemas/Department'
      additionalProperties: false
      type: object
      required:
      - department
      title: DepartmentSizeFilter
    CompaniesCityFilter:
      properties:
        city:
          type: string
          title: City
          description: City name
          examples:
          - New York
          - Los Angeles
        country:
          type: string
          nullable: true
          title: Country code
          description: Alpha-2 ISO 3166 country code
          examples:
          - us
          - ca
        region:
          $ref: '#/components/schemas/State'
          nullable: true
          title: Region filter
          description: Filter by country region (if applicable)
          examples:
          - - abbreviation: CA
              country: us
            - abbreviation: YT
              country: ca
        postalCode:
          type: string
          nullable: true
          title: Postal code
          description: Filter by postal code
          examples:
          - '10001'
          - '90001'
      additionalProperties: false
      type: object
      required:
      - city
      title: CompaniesCityFilter
    PublicSearchCompaniesBodyV1:
      properties:
        size:
          type: integer
          maximum: 10000.0
          minimum: 1.0
          title: Maximum number of results
          description: Number of companies to return. The maximum value is 10,000. To get more than 10,000 results, use `searchAfter`.
          default: 50
          examples:
          - 10
        from:
          type: integer
          maximum: 10001.0
          minimum: 1.0
          title: Index the returned results start from.
          description: 'Return companies from number X. Passing 1 will return all the results. Passing 10 will return results from the 10th. Note: `size + from` cannot be higher than 10,001'
          default: 1
          examples:
          - 10
        searchAfter:
          type: string
          nullable: true
          title: Search after
          description: Use `searchAfter` returned by the previous request to get the next page
          examples:
          - NoBgdA7BAsBMEgGwBoAEAiADgGwK4HN8BTAJwC8wBjAewFt0BdIA
        companiesFilters:
          $ref: '#/components/schemas/CompaniesFiltersV1'
          nullable: true
          title: Companies filters
          description: Collection of companies filters to be applied to the search
        peopleFilters:
          $ref: '#/components/schemas/PeopleFilters'
          nullable: true
          title: People filters
          description: Collection of people filters to be applied to the search, the search results will display companies that have at least one person matching those filters
        fields:
          items:
            $ref: '#/components/schemas/CompanyField'
          type: array
          nullable: true
          title: Fields
          description: Fields to return in the Company objects. Only requesting the fields that are needed will use less bandwidth and result in faster responses. If not specified, all fields are returned that can be seen in the example.
          examples:
          - - domain
            - countries
            - primaryCountry
            - companySize
            - industryCategories
            - industries
            - linkedinIndustry
            - ecommerce
            - keywords
            - employeeCountOcean
            - employeeCountLinkedin
            - revenue
            - yearFounded
            - description
            - emails
            - phones
            - logo
            - technologies
            - technologyCategories
            - mobileApps
            - webTraffic
            - medias
            - name
            - legalName
            - locations
            - departmentSizes
            - rootUrl
            - faxes
            - impressum
            - fundingRound
            - updatedAt
      additionalProperties: false
      type: object
      title: PublicSearchCompaniesBodyV1
    TechnologiesFilterV3:
      properties:
        apps:
          $ref: '#/components/schemas/AllAnyNoneFilter'
          nullable: true
          title: Technology apps
          description: Filter by software technologies used by the company. Available values are located at /v2/data-fields endpoint.
        categories:
          $ref: '#/components/schemas/AllAnyNoneFilter'
          nullable: true
          title: Technology categories
          description: Filter by software technology categories used by the company. Available values are located at /v2/data-fields endpoint.
      additionalProperties: false
      type: object
      title: TechnologiesFilterV3
    public_api__models__company__Location:
      properties:
        primary:
          type: boolean
          title: Primary location
          description: True if the location is the headquarter of the company
          default: false
          examples:
          - true
          - false
        latitude:
          type: number
          nullable: true
          title: Latitude
          description: Latitude of the location
          examples:
          - 43.6471
        longitude:
          type: number
          nullable: true
          title: Longitude
          description: Longitude of the location
          examples:
          - -79.3971
        country:
          type: string
          nullable: true
          title: Country code
          description: Country code of the location
          examples:
          - us
        locality:
          type: string
          nullable: true
          title: Locality/City
          description: Locality (city) of the location
          examples:
          - Scranton
        region:
          type: string
          nullable: true
          title: Region
          description: Region of the location. Available abbreviation values are located at /v2/data-fields endpoint (region section)
          examples:
          - Lackawanna County
        postalCode:
          type: string
          nullable: true
          title: Postal code
          description: Postal code of the location
          examples:
          - '18505'
        streetAddress:
          type: string
          nullable: true
          title: Street address
          description: Street address of the location
          examples:
          - Scranton Business Park, 1725 Slough Ave Suit 200
        state:
          type: string
          nullable: true
          title: State
          description: Abbreviation of the location (if applicable). Available abbreviation values are located at /v2/data-fields endpoint (region section). Deprecated, please use `region` instead
          examples:
          - pa
          deprecated: true
        regionCode:
          type: string
          nullable: true
          title: Region code
          description: Region code of the location
          examples:
          - PA
      type: object
      title: Location
    PublicSearchCompaniesResult:
      properties:
        searchAfter:
          type: string
          nullable: true
          title: Search after
          description: Used for pagination. Use `searchAfter` returned by this request in the next request to get the next page of search results. If `searchAfter` is not present in the response then there is no next page.
          examples:
          - NoBgdA7BAsBMEgGwBoAEAiADgGwK4HN8BTAJwC8wBjAewFt0BdIA
        detail:
          type: string
          title: Detail
          description: Status text
          examples:
          - OK
        total:
          type: integer
          nullable: true
          title: Total
          description: Total number of results of the search, accessible with pagination.
          examples:
          - 32871
        missingDomains:
          additionalProperties:
            anyOf:
            - type: string
              enum:
              - missing context vector
              - missing industries
              - missing keywords
              - missing industry categories
            - type: string
              enum:
              - bad content
              - crawler failed
              - data gathering started
              - in progress
              - invalid domain
              - other error
              - robots disallowed
              - unsupported language
              - invalid redirect
              - ssl certificate error
          type: object
          nullable: true
          title: Missing domains
          description: Domains from `lookalikeDomains` filter that are either not present in Ocean's database or present but lacking necessary data to perform the search, along with the reason
          examples:
          - domain-with-bad-content.com: bad content
            domain-with-missing-context-vector.com: missing context vector
            not-yet-crawled-domain.com: data gathering started
        redirectMap:
          additionalProperties:
            type: string
          type: object
          nullable: true
          title: Domain redirection mapping
          description: Mapping of original domains passed in filters to their redirected domains.
          examples:
          - given_local_domain.uk: original.com
            ikea.nl: ikea.com
        creditsUsed:
          type: number
          title: Creditsused
          description: Number of credits charged for this request.
          examples:
          - 1.0
        companies:
          items:
            $ref: '#/components/schemas/PublicCompanyWithScore'
          type: array
          title: Companies found
          description: Array of found companies. Returns empty array if no results
      type: object
      required:
      - detail
      - creditsUsed
      - companies
      title: PublicSearchCompaniesResult
    SocialMediasFilterV3:
      properties:
        medias:
          $ref: '#/components/schemas/AllAnyNoneFilterSocialMedia'
          nullable: true
          title: Social medias
          description: Filter by social media presence
        minCount:
          type: integer
          maximum: 50.0
          minimum: 1.0
          nullable: true
          title: Min count
          description: Return companies that are present in more than `n` social networks
      additionalProperties: false
      type: object
      title: SocialMediasFilterV3
    GeolocationFilter:
      properties:
        latitude:
          type: number
          maximum: 90.0
          minimum: -90.0
          title: Latitude
          description: Latitude of the location
        longitude:
          type: number
          maximum: 180.0
          minimum: -180.0
          title: Longitude
          description: Longitude of the location
        radius:
          type: integer
          maximum: 1000000.0
          minimum: 1.0
          title: Radius
          description: Radius in meters
      additionalProperties: false
      type: object
      required:
      - latitude
      - longitude
      - radius
      title: GeolocationFilter
    PeopleFiltersV3:
      properties:
        lookalikeLinkedinHandles:
          items:
            type: string
          type: array
          nullable: true
          title: Lookalike people handles
          description: List of people linkedin handles to search for similar people.
          examples:
          - - michael-scott-13532
            - dwight-schrute
        countries:
          items:
            type: string
          type: array
          nullable: true
          title: Country codes
          description: List of country codes (alpha-2 ISO 3166) to search for people.
          examples:
          - - us
            - dk
        includePeopleIds:
          items:
            type: string
          type: array
          nullable: true
          title: Include people IDs
          description: List of people IDs to include in the search.
          examples:
          - - 43g19df9c1d70f9a
            - 54hb1b1bfb1ffc5t
        includeLinkedinHandles:
          items:
            type: string
          type: array
          nullable: true
          title: Include people by LinkedIn handles
          description: List of people linkedin handles to include in the search.
          examples:
          - - jim-halpert-5343
            - toby-67832
        excludePeopleIds:
          items:
            type: string
          type: array
          nullable: true
          title: Exclude people IDs
          description: List of people IDs to exclude from the search.
          examples:
          - - 43g19df9c1d70f9a
            - 54hb1b1bfb1ffc5t
        excludeLinkedinHandles:
          items:
            type: string
          type: array
          nullable: true
          title: Exclude people by LinkedIn handles
          description: List of people linkedin handles to exclude from the search.
          examples:
          - - jim-halpert-5343
            - toby-67832
        seniorities:
          items:
            $ref: '#/components/schemas/Seniority'
          type: array
          nullable: true
          title: Seniorities
          description: Filter by seniorities. Available values are located at /v2/data-fields endpoint.
          examples:
          - - Founder
            - Owner
        skills:
          $ref: '#/components/schemas/SkillsFilter'
          nullable: true
          title: Skills
          description: Filter by skills
        jobTitleKeywords:
          $ref: '#/components/schemas/JobTitleKeywordsFilter'
          nullable: true
          title: Job title keywords filter
          description: Filter by keywords present in job titles
        allJobDescriptions:
          $ref: '#/components/schemas/AllJobDescriptionsFilter'
          nullable: true
          title: All job descriptions filter
          description: Filter by all job descriptions
        currentJobDescription:
          $ref: '#/components/schemas/CurrentJobDescriptionFilter'
          nullable: true
          title: Current job description filter
          description: Filter by current job description
        profileDescription:
          $ref: '#/components/schemas/ProfileDescriptionFilter'
          nullable: true
          title: Profile description filter
          description: Filter by profile description
        regions:
          items:
            type: string
          type: array
          nullable: true
          title: Region codes
          description: List of region codes to search for people.
          examples:
          - - CA
            - TX
          deprecated: true
        states:
          items:
            $ref: '#/components/schemas/State'
          type: array
          nullable: true
          title: States
          description: List of states/regions to search for people (ISO-3166-2 region codes). Available abbreviation values are located at /v2/data-fields endpoint (region section).
          examples:
          - - abbreviation: NY
              country: us
            - abbreviation: ENG
              country: gb
            - abbreviation: '5'
              country: at
            - abbreviation: SH
              country: de
        excludeStates:
          items:
            $ref: '#/components/schemas/State'
          type: array
          nullable: true
          title: Exclude States
          description: List of states/regions to exclude when searching for people (ISO-3166-2 region codes). Available abbreviation values are located at /v2/data-fields endpoint (region section).
          examples:
          - - abbreviation: NY
              country: us
            - abbreviation: ENG
              country: gb
            - abbreviation: '5'
              country: at
            - abbreviation: SH
              country: de
        excludeCountries:
          items:
            type: string
          type: array
          nullable: true
          title: Exclude Countries
          description: List of country codes (alpha-2 ISO 3166) to exclude when searching for people.
          examples:
          - - us
            - dk
        cities:
          items:
            $ref: '#/components/schemas/PeopleCityFilter'
          type: array
          nullable: true
          title: Cities
          description: List of cities to search for people.
          examples:
          - - city: New York
              country: us
            - city: Los Angeles
              country: us
        excludeCities:
          items:
            $ref: '#/components/schemas/PeopleCityFilter'
          type: array
          nullable: true
          title: Exclude Cities
          description: List of cities to exclude when searching for people.
          examples:
          - - city: New York
              country: us
            - city: Los Angeles
              country: us
        names:
          items:
            type: string
          type: array
          nullable: true
          title: Names
          description: Filter by names
          examples:
          - - John Doe
            - Peter Pan
        departments:
          items:
            $ref: '#/components/schemas/Department'
          type: array
          nullable: true
          title: Departments
          description: Filter by departments. Available values are located at /v2/data-fields endpoint.<br>
          examples:
          - - Management
            - Marketing and Advertising
        excludeDepartments:
          items:
            $ref: '#/components/schemas/Department'
          type: array
          nullable: true
          title: Excludedepartments
          description: Exclude people by departments. Available values are located at /v2/data-fields endpoint.<br>
          examples:
          - - Management
            - Marketing and Advertising
        fieldsExist:
          items:
            type: string
            enum:
            - country
            - departments
            - firstName
            - jobTitle
            - jobTitleEnglish
            - lastName
            - linkedinUrl
            - location
            - name
            - photo
            - seniorities
            - summary
          type: array
          nullable: true
          title: Fields exist
          description: Return records where specified fields exist
          examples:
          - - name
            - country
            - linkedinUrl
        fieldsNotExist:
          items:
            type: string
            enum:
            - country
            - departments
            - firstName
            - jobTitle
            - jobTitleEnglish
            - lastName
            - linkedinUrl
            - location
            - name
            - photo
            - seniorities
            - summary
          type: array
          nullable: true
          title: Fields do not exist
          description: Return records where specified fields do not exist
          examples:
          - - firstName
            - location
            - jobTitleEnglish
        changedPositionAfter:
          type: string
          nullable: true
          title: Changedpositionafter
          description: Return people who started a new job between the specified date (inclusive) and now
          examples:
          - 2023-01
        changedPositionBefore:
          type: string
          nullable: true
          title: Changedpositionbefore
          description: Return people who started a new currently active job before the specified date (inclusive)
          examples:
          - 2023-01
        updatedWithinMonths:
          type: integer
          maximum: 60.0
          exclusiveMinimum: 0.0
          nullable: true
          title: Updated within months
          description: Filter people updated within the last N months.
          examples:
          - 1
          - 3
          - 12
        connections:
          $ref: '#/components/schemas/FromTo'
          nullable: true
          title: Number of connections
          description: Number of connections of the person on Linkedin
          examples:
          - from: 100
            to: 400
          - from: 500
        followers:
          $ref: '#/components/schemas/FromTo'
          nullable: true
          title: Number of followers
          description: Number of followers of the person on Linkedin
          examples:
          - from: 100
            to: 5000
          - from: 1000
      additionalProperties: false
      type: object
      title: PeopleFiltersV3
    CurrentJobDescriptionFilter:
      properties:
        allOf:
          items:
            type: string
          type: array
          nullable: true
          title: All of
          description: The current job description must include all of these
          examples:
          - - software engineer
            - big tech company
        anyOf:
          items:
            type: string
          type: array
          nullable: true
          title: Any of
          description: The current job description must include at least one of these
          examples:
          - - software engineer
        noneOf:
          items:
            type: string
          type: array
          nullable: true
          title: None of
          description: The current job description must not include any of these
          examples:
          - - entry-level
      additionalProperties: false
      type: object
      title: CurrentJobDescriptionFilter
    SkillsFilter:
      properties:
        allOf:
          items:
            type: string
          type: array
          nullable: true
          title: All skills
          description: The LinkedIn profile skills must include all of these keywords
          examples:
          - - Product Management
            - Entrepreneurship
        anyOf:
          items:
            type: string
          type: array
          nullable: true
          title: Any skill
          description: The LinkedIn profile skills must include at least one of these keywords
          examples:
          - - Social Media
            - Competitive Analysis
        noneOf:
          items:
            type: string
          type: array
          nullable: true
          title: No skills
          description: The LinkedIn profile skills must not include any of these keywords
          examples:
          - - Writing
            - Project Management
      additionalProperties: false
      type: object
      title: SkillsFilter
    Medias:
      properties:
        linkedin:
          $ref: '#/components/schemas/Media'
          nullable: true
          description: LinkedIn page associated with the company
          examples:
          - handle: dunder-mifflin
            name: Dunder Mifflin Paper Company, Inc.
            url: https://www.linkedin.com/company/dunder-mifflin
        twitter:
          $ref: '#/components/schemas/Media'
          nullable: true
          description: Twitter page associated with the company
          examples:
          - handle: dunder-mifflin
            name: Dunder Mifflin Paper Company, Inc.
            url: https://twitter.com/dunder-mifflin
        youtube:
          $ref: '#/components/schemas/Media'
          nullable: true
          description: YouTube page associated with the company
          examples:
          - handle: dunder-mifflin
            name: Dunder Mifflin Paper Company, Inc.
            url: https://youtube.com/channel/dunder-mifflin
        facebook:
          $ref: '#/components/schemas/Media'
          nullable: true
          description: Facebook page associated with the company
          examples:
          - handle: dunder-mifflin
            name: Dunder Mifflin Paper Company, Inc.
            url: https://facebook.com/dunder-mifflin
        xing:
          $ref: '#/components/schemas/Media'
          nullable: true
          description: Xing page associated with the company
          examples:
          - handle: dunder-mifflin
            name: Dunder Mifflin Paper Company, Inc.
            url: https://xing.com/dunder-mifflin
        tiktok:
          $ref: '#/components/schemas/Media'
          nullable: true
          description: TikTok page associated with the company
          examples:
          - handle: dunder-mifflin
            name: Dunder Mifflin Paper Company, Inc.
            url: https://tiktok.com/dunder-mifflin
        instagram:
          $ref: '#/components/schemas/Media'
          nullable: true
          description: Instagram page associated with the company
          examples:
          - handle: dunder-mifflin
            name: Dunder Mifflin Paper Company, Inc.
            url: https://instagram.com/dunder-mifflin
      type: object
      title: Medias
    PersonField:
      type: string
      enum:
      - id
      - domain
      - name
      - firstName
      - lastName
      - country
      - state
      - location
      - linkedinUrl
      - seniorities
      - departments
      - photo
      - jobTitle
      - jobTitleEnglish
      - currentJobDescription
      - experiences
      - experiences.domain
      - experiences.jobTitle
      - experiences.dateFrom
      - experiences.dateTo
      - experiences.description
      - experiences.linkedinCompanyHandle
      - summary
      - skills
      - email
      - email.address
      - updatedAt
      - connectionsCount
      - followersCount
      - headline
      title: PersonField
    JobTitleKeywordsFilter:
      properties:
        allOf:
          items:
            type: string
          type: array
          nullable: true
          title: All keywords
          description: Match all of the keywords
          examples:
          - - Manager
        anyOf:
          items:
            type: string
          type: array
          nullable: true
          title: Any keyword
          description: Match at least one of the keywords
          examples:
          - - Marketing
            - designer
        noneOf:
          items:
            type: string
          type: array
          nullable: true
          title: No keywords
          description: Match none of the keywords
          examples:
          - - content
      additionalProperties: false
      type: object
      title: JobTitleKeywordsFilter
    PublicSearchPeopleBodyV3PreviewV3:
      properties:
        size:
          type: integer
          maximum: 50.0
          minimum: 1.0
          title: Maximum number of results
          description: Number of people to return
          default: 50
          examples:
          - 50
        peopleFilters:
          $ref: '#/components/schemas/PeopleFiltersV3'
          nullable: true
          title: People filters
          description: Collection of filters to be applied to the search
        companiesFilters:
          $ref: '#/components/schemas/CompaniesFiltersV3'
          nullable: true
          title: Companies filters
          description: Collection of companies filters, the search results will display people that are associated with those companies
        peoplePerCompany:
          type: integer
          maximum: 20.0
          minimum: 1.0
          nullable: true
          title: People per company
          description: Number of people to return per company. If you want to return all people from a company, don't set this value.
          examples:
          - 3
          - null
        jobTitleThreshold:
          type: number
          maximum: 1.0
          minimum: 0.0
          nullable: true
          title: Job title threshold
          description: Threshold for job title similarity. The value must be between 0 and 1. Default is 0.8
          default: 0.8
          examples:
          - 0.8
        searchAfter:
          type: string
          nullable: true
          title: Search after
          description: Use `searchAfter` returned by the previous request to get the next page.
          examples:
          - N4IglgdgJgpgHiAXAVgL5A
        fields:
          items:
            anyOf:
            - $ref: '#/components/schemas/PersonField'
            - $ref: '#/components/schemas/PersonCompanyField'
          type: array
          nullable: true
          title: Fields
          description: 'Fields to return in the Person objects. Only requesting the fields that are needed will use less bandwidth and result in faster responses. If not specified, the following default fields are returned: `id`, `domain`, `name`, `firstName`, `lastName`, `country`, `state`, `location`, `linkedinUrl`, `seniorities`, `departments`, `photo`, `jobTitle`, `jobTitleEnglish`, `currentJobDescription`, `experiences`, `summary`, `skills`, `headline`, `updatedAt`, `connectionsCount`, `followersCount`, `company.revenue`, `company.peopleCount`, `company.industries`, `company.technologies`, `company.latestFundingRound`.'
          examples:
          - - id
            - domain
            - name
            - firstName
            - lastName
            - country
            - state
            - location
            - linkedinUrl
            - seniorities
            - departments
            - photo
            - jobTitle
            - jobTitleEnglish
            - currentJobDescription
            - experiences
            - summary
            - skills
            - headline
            - updatedAt
            - connectionsCount
            - followersCount
            - company.revenue
            - company.peopleCount
            - company.industries
            - company.technologies
            - company.latestFundingRound
      additionalProperties: false
      type: object
      title: PublicSearchPeopleBodyV3PreviewV3
    PeopleCityFilter:
      properties:
        city:
          type: string
          title: City
          description: City name
          examples:
          - New York
          - Los Angeles
        country:
          type: string
          nullable: true
          title: Country code
          description: Alpha-2 ISO 3166 country code
          examples:
          - us
          - ca
        region:
          $ref: '#/components/schemas/State'
          nullable: true
          title: Region filter
          description: Filter by country region (if applicable)
          examples:
          - - abbreviation: CA
              country: us
            - abbreviation: YT
              country: ca
      additionalProperties: false
      type: object
      required:
      - city
      title: PeopleCityFilter
    FromTo:
      properties:
        from:
          type: integer
          nullable: true
          title: Greater than or equal to
          description: Greater than or equal to
        to:
          type: integer
          nullable: true
          title: Less than or equal to
          description: Less than or equal to
      additionalProperties: false
      type: object
      title: FromTo
    AllAnyNoneFilter:
      properties:
        anyOf:
          items:
            type: string
          type: array
          nullable: true
          title: Any of the values
          description: The filter should match **any** of the specified values.
        allOf:
          items:
            type: string
          type: array
          nullable: true
          title: All values
          description: The filter should match **all** of the specified values.
        noneOf:
          items:
            type: string
          type: array
          nullable: true
          title: None of the values
          description: The filter should match **none** of the specified values.
      additionalProperties: false
      type: object
      title: AllAnyNoneFilter
    PublicPreviewCompany:
      properties:
        name:
          type: string
          title: Company name
          description: Name of the company
          examples:
          - Google
          - Apple
          - Microsoft
        logo:
          type: string
          title: Company logo
          description: URL to the company logo
          examples:
          - https://cdn2.ocean.io/logos/ocean.io/b162ddc061a4ca67e8aacbbf747dc8e62cce7496.png
        topIndustries:
          items:
            type: string
          type: array
          title: Top industries
          description: Array of top 3 industries
          examples:
          - - Analytics
            - B2B
            - Software
          - - Analytics
            - B2B
            - Lead Generation
        size:
          type: string
          nullable: true
          title: Company size
          description: Company size in brackets
          examples:
          - 501-1000
          - 1001-5000
        description:
          type: string
          title: Company description
          description: Company description
          examples:
          - B2B Sales and Marketing teams use Ocean.io's prospecting data platform to find accounts and contacts no one else can.
        primaryCountry:
          type: string
          nullable: true
          title: Primary country
          description: 'Primary country code of the company '
          examples:
          - us
          - gb
          - dk
        primaryRegion:
          type: string
          nullable: true
          title: Primary region
          description: Primary region code of the company
          examples:
          - CA
          - UKE
          - WA
        linkedinHandle:
          type: string
          nullable: true
          title: LinkedIn handle
          description: LinkedIn company handle/username
          examples:
          - zoominfo
          - ocean-io
      type: object
      required:
      - name
      - logo
      - topIndustries
      - size
      - description
      - primaryCountry
      - primaryRegion
      title: PublicPreviewCompany
    DepartmentSize:
      properties:
        department:
          $ref: '#/components/schemas/Department'
          description: Department name
        size:
          type: integer
          title: Size
          description: Department size
      type: object
      required:
      - department
      - size
      title: DepartmentSize
    CompaniesFiltersV3:
      properties:
        lookalikeDomains:
          items:
            type: string
          type: array
          maxItems: 10
          nullable: true
          title: Similar domains
          description: Find domains similar to the provided
          examples:
          - - bestcustomer.com
            - idealcustomer.com
        includeDomains:
          items:
            type: string
          type: array
          nullable: true
          title: Domains to include
          description: Only return specified domains
          examples:
          - - interesting.com
            - amazing.com
        excludeDomains:
          items:
            type: string
          type: array
          nullable: true
          title: Domains to exclude
          description: Exclude specified domains from the results
          examples:
          - - boring.com
            - useless.com
        companySizes:
          items:
            $ref: '#/components/schemas/PublicCompanySize'
          type: array
          nullable: true
          title: Company size
          description: Filter by company size ranges
          examples:
          - - 2-10
            - 51-200
            - 100001-500000
        ecommerce:
          type: boolean
          nullable: true
          title: E-commerce
          description: true -> returns only e-commerce companies<br>false -> excludes e-commerce companies<br>none -> returns everything
          examples:
          - true
          - false
        yearFounded:
          $ref: '#/components/schemas/FromTo'
          nullable: true
          title: Year founded
          description: 'Filter by year founded. Valid range: 0-2100'
          examples:
          - from: 1960
            to: 1990
        countriesCount:
          $ref: '#/components/schemas/FromTo'
          nullable: true
          title: Countries count
          description: 'Filter by the number of countries in which the company operates. Valid range: 0-300'
          examples:
          - from: 1
            to: 5
        revenues:
          items:
            $ref: '#/components/schemas/Revenue'
          type: array
          nullable: true
          title: Revenue
          description: Filter by revenue ranges
          examples:
          - - 0-1M
            - 1-10M
            - '>1000M'
        employeeCountOcean:
          $ref: '#/components/schemas/FromTo'
          nullable: true
          title: Employee count
          description: 'Only return companies that have a certain number of employee profiles in our database. Valid range: 0-10,000,000'
          examples:
          - from: 10
            to: 100
        mobileApps:
          $ref: '#/components/schemas/FromTo'
          nullable: true
          title: Number of mobile apps
          description: 'Filter by the number of mobile apps that the company produced. Valid range: 0-10,000'
          examples:
          - from: 1
            to: 5
          deprecated: true
        mobileAppsFilter:
          $ref: '#/components/schemas/MobileAppsFilter'
          nullable: true
          title: Mobile apps filter
          description: Filter by mobile app attributes (count, downloads, release year)
          examples:
          - count:
              from: 1
              to: 5
        locationsCount:
          $ref: '#/components/schemas/FromTo'
          nullable: true
          title: Locations count
          description: 'Only return companies that have a certain amount of locations. Valid range: 0-100,000'
          examples:
          - from: 5
            to: 10
        departmentSizes:
          items:
            $ref: '#/components/schemas/DepartmentSizeFilter'
          type: array
          nullable: true
          title: Department size filter
          description: 'Filter by the size of company departments. Valid range: 0-10,000,000'
          examples:
          - - department: Accounting and Finance
              from: 5
              to: 10
        employeeCountLinkedin:
          $ref: '#/components/schemas/FromTo'
          nullable: true
          title: Employee count on LinkedIn
          description: 'The number of employees a company has on LinkedIn. Valid range: 0-10,000,000'
          examples:
          - from: 50
            to: 100
        industries:
          $ref: '#/components/schemas/IndustriesFilter'
          nullable: true
          title: Industries
          description: Filter by company industries. Available values are located at /v2/data-fields endpoint.<br>
          examples:
          - industries:
            - Advertising Platforms
            - Biopharma
            mode: anyOf
        excludeIndustries:
          items:
            type: string
          type: array
          nullable: true
          title: Exclude industries
          description: Array of the industries to exclude
          examples:
          - - CRM
            - B2B
        industryCategories:
          $ref: '#/components/schemas/IndustryCategoriesFilter'
          nullable: true
          title: Industry categories
          description: Filter by company industry categories. Available values are located at /v2/data-fields endpoint.<br>
          examples:
          - industryCategories:
            - Real Estate
            - Hardware
            mode: anyOf
        excludeIndustryCategories:
          items:
            type: string
          type: array
          nullable: true
          title: Exclude industry categories
          description: Array of the industry categories to exclude
          examples:
          - - Information Technology
            - Privacy and Security
        linkedinIndustries:
          items:
            type: string
          type: array
          nullable: true
          title: Linkedin industries
          description: Filter by Linkedin industries. This is OR filter. Available values are located at /v2/data-fields endpoint.<br>
          examples:
          - - Management Consulting
            - Computer Software
        excludeLinkedinIndustries:
          items:
            type: string
          type: array
          nullable: true
          title: Exclude Linkedin industries
          description: Array of Linkedin industries to exclude. Available values are located at /v2/data-fields endpoint.<br>
          examples:
          - - Management Consulting
            - Computer Software
        fundingRound:
          $ref: '#/components/schemas/FundingRoundFilter'
          nullable: true
          title: Funding rounds
          description: Filter by funding rounds
          examples:
          - date:
              from: '2020-01-01'
              to: '2023-01-01'
            raised:
              from: 1000000
              to: 5000000
            types:
            - Seed
            - Series A
        primaryLocations:
          $ref: '#/components/schemas/LocationsFilter'
          nullable: true
          title: Primary locations (HQ) filter
          description: Filter by primary locations (HQ)
        otherLocations:
          $ref: '#/components/schemas/LocationsFilter'
          nullable: true
          title: Office locations filter
          description: Filter by locations of offices other than the headquarters
        webTraffic:
          $ref: '#/components/schemas/WebTrafficFilter'
          nullable: true
          title: Web traffic
          description: Filter by web traffic metrics
          examples:
          - views:
              from: 1000
              to: 1000000
            visits:
              from: 1000
              to: 10000
        socialMedias:
          $ref: '#/components/schemas/SocialMediasFilterV3'
          nullable: true
          title: Social medias
          description: Filter by social media presence
          examples:
          - medias:
              all_of:
              - facebook
              - x
              any_of:
              - youtube
              - xing
              none_of:
              - instagram
              - tiktok
            min_count: 3
        technologies:
          $ref: '#/components/schemas/TechnologiesFilterV3'
          nullable: true
          title: Technologies filter
          description: Filter by the software technologies present on the company's website
          examples:
          - apps:
              all_of:
              - Amazon Advertising
              - Google Maps
              any_of:
              - BrightEdge
              - Nette Framework
              none_of:
              - Kount
              - Nativo
            categories:
              all_of:
              - Analytics
              - Security
              any_of:
              - Advertising
              - WordPress themes
              none_of:
              - CMS
              - Reviews
        keywords:
          $ref: '#/components/schemas/AllAnyNoneFilter'
          nullable: true
          title: Keywords
          description: Filter by keywords
          examples:
          - all_of:
            - lead generation
            - marketing
            any_of:
            - smart prospecting
            - data platform
            none_of:
            - seo
        minRelevance:
          type: string
          enum:
          - A
          - B
          - C
          nullable: true
          title: Min relevance (inclusive)
          description: Filter by min relevance (A - the most relevant).
          examples:
          - B
        maxRelevance:
          type: string
          enum:
          - A
          - B
          - C
          nullable: true
          title: Max relevance (inclusive)
          description: 'Filter by max relevance (A - the most relevant). Use combination of min_relevance: "B" and max_relevance: "B" to get only results with the "B" relevance'
          examples:
          - B
        headcountGrowth:
          $ref: '#/components/schemas/HeadcountGrowthFilter'
          nullable: true
          title: Headcount growth
          description: Filter by headcount growth
          examples:
          - asPercentage: false
            growthRange:
              from: -1.0
              to: 3.0
            months: Three months
        departmentHeadcountGrowth:
[...]
