{"openapi":"3.1.0","info":{"title":"Ocean.io API Documentation","summary":"Welcome to Ocean.io's API.","description":"\n            Welcome to Ocean.io's API.\n            The API can be used to access all our API endpoints, such as our enrich API to look up company information, or our discover API to identify companies based on specific search criteria such as semantic similarity, technologies or industries.\n            Ocean.io's APIs are a set of HTTPS endpoints that you can use to retrieve and integrate Ocean.io's data into your existing workflows.\n            All requests should be made through https and the request and response bodies should be formatted in JSON.\n        ","version":"2.0.0","x-logo":{"url":"https://cdn2.ocean.io/assets/images/logo/256x92_ocean-logo.svg"}},"servers":[{"url":"https://api.ocean.io"}],"paths":{"/v2/autocomplete/companies":{"post":{"tags":["Autocomplete"],"summary":"Autocomplete companies","description":"Auto complete the name search","operationId":"autoCompleteCompany","parameters":[{"name":"apiToken","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Apitoken"}},{"name":"x-api-token","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Token"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/models__autocomplete_companies__AutoCompletionBody"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/models__autocomplete_companies__AutoCompletionResult"}}}},"403":{"content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string","enum":["API token should be provided in headers or query parameters","Current API token is not registered in our database"]}},"required":["detail"]}}},"description":"Forbidden"},"402":{"content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string","enum":["Insufficient credits"]}},"required":["detail"]}}},"description":"Payment Required"},"400":{"content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string","enum":["Conflicting API tokens provided in query parameters and headers"]}},"required":["detail"]}}},"description":"Bad Request"},"404":{"description":"Not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/autocomplete/keywords":{"post":{"tags":["Autocomplete"],"summary":"Autocomplete keywords","description":"Auto complete the keyword search.","operationId":"autoCompleteKeywords","parameters":[{"name":"apiToken","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Apitoken"}},{"name":"x-api-token","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Token"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/models__autocomplete_keyword__AutoCompletionBody"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/models__autocomplete_keyword__AutoCompletionResult"}}}},"403":{"content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string","enum":["API token should be provided in headers or query parameters","Current API token is not registered in our database"]}},"required":["detail"]}}},"description":"Forbidden"},"402":{"content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string","enum":["Insufficient credits"]}},"required":["detail"]}}},"description":"Payment Required"},"400":{"content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string","enum":["Conflicting API tokens provided in query parameters and headers"]}},"required":["detail"]}}},"description":"Bad Request"},"404":{"description":"Not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/autocomplete/job-titles":{"post":{"tags":["Autocomplete"],"summary":"Autocomplete job titles","description":"Auto complete the job title search.","operationId":"autoCompleteJobTitles","parameters":[{"name":"apiToken","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Apitoken"}},{"name":"x-api-token","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Token"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/models__autocomplete_job_title__AutoCompletionBody"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/models__autocomplete_job_title__AutoCompletionResult"}}}},"403":{"content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string","enum":["API token should be provided in headers or query parameters","Current API token is not registered in our database"]}},"required":["detail"]}}},"description":"Forbidden"},"402":{"content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string","enum":["Insufficient credits"]}},"required":["detail"]}}},"description":"Payment Required"},"400":{"content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string","enum":["Conflicting API tokens provided in query parameters and headers"]}},"required":["detail"]}}},"description":"Bad Request"},"404":{"description":"Not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/autocomplete/locations":{"post":{"tags":["Autocomplete"],"summary":"Autocomplete locations","description":"Auto complete the location search","operationId":"autoCompleteLocations","parameters":[{"name":"apiToken","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Apitoken"}},{"name":"x-api-token","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Token"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/models__autocomplete_locations__AutoCompletionBody"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/models__autocomplete_locations__AutoCompletionResult"}}}},"403":{"content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string","enum":["API token should be provided in headers or query parameters","Current API token is not registered in our database"]}},"required":["detail"]}}},"description":"Forbidden"},"402":{"content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string","enum":["Insufficient credits"]}},"required":["detail"]}}},"description":"Payment Required"},"400":{"content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string","enum":["Conflicting API tokens provided in query parameters and headers"]}},"required":["detail"]}}},"description":"Bad Request"},"404":{"description":"Not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/autocomplete/skills":{"post":{"tags":["Autocomplete"],"summary":"Autocomplete skills","description":"Auto complete the skill search.","operationId":"autoCompleteSkills","parameters":[{"name":"apiToken","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Apitoken"}},{"name":"x-api-token","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Token"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/models__autocomplete_skills__AutoCompletionBody"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/models__autocomplete_skills__AutoCompletionResult"}}}},"403":{"content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string","enum":["API token should be provided in headers or query parameters","Current API token is not registered in our database"]}},"required":["detail"]}}},"description":"Forbidden"},"402":{"content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string","enum":["Insufficient credits"]}},"required":["detail"]}}},"description":"Payment Required"},"400":{"content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string","enum":["Conflicting API tokens provided in query parameters and headers"]}},"required":["detail"]}}},"description":"Bad Request"},"404":{"description":"Not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/search/companies":{"post":{"tags":["Search"],"summary":"Lookalike companies search (deprecated)","description":"Search companies using filters.","operationId":"searchCompanies","deprecated":true,"parameters":[{"name":"apiToken","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Apitoken"}},{"name":"x-api-token","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Token"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicSearchCompaniesBodyV1"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicSearchCompaniesResult"}}}},"403":{"content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string","enum":["API token should be provided in headers or query parameters","Current API token is not registered in our database"]}},"required":["detail"]}}},"description":"Forbidden"},"402":{"content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string","enum":["Insufficient credits"]}},"required":["detail"]}}},"description":"Payment Required"},"400":{"content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string","enum":["Conflicting API tokens provided in query parameters and headers","Plan version not supported for this endpoint"]}},"required":["detail"]}}},"description":"Bad Request"},"404":{"description":"Not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v3/search/companies":{"post":{"tags":["Search"],"summary":"Lookalike companies search","description":"Search companies using filters.\n\nLooking for the legacy endpoint? [Access it here](/docs/searchCompanies)","operationId":"searchCompaniesV3","parameters":[{"name":"apiToken","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Apitoken"}},{"name":"x-api-token","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Token"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicSearchCompaniesBodyV3"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicSearchCompaniesResultWithRelevance"}}}},"403":{"content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string","enum":["API token should be provided in headers or query parameters","Current API token is not registered in our database"]}},"required":["detail"]}}},"description":"Forbidden"},"402":{"content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string","enum":["Insufficient credits"]}},"required":["detail"]}}},"description":"Payment Required"},"400":{"content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string","enum":["Conflicting API tokens provided in query parameters and headers"]}},"required":["detail"]}}},"description":"Bad Request"},"404":{"description":"Not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/enrich/company":{"post":{"tags":["Enrich"],"summary":"Enrich company","description":"Match a company with our database and enrich it with additional information.\n\n\n**Webhook result:**\n[Documentation](/docs/webhooks/enrich_person_email)","operationId":"enrichCompany","parameters":[{"name":"apiToken","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Apitoken"}},{"name":"x-api-token","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Token"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MatchCompanyBody"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnrichCompanyResult"}}}},"403":{"content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string","enum":["API token should be provided in headers or query parameters","Current API token is not registered in our database"]}},"required":["detail"]}}},"description":"Forbidden"},"402":{"content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string","enum":["Insufficient credits"]}},"required":["detail"]}}},"description":"Payment Required"},"400":{"content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string","enum":["Conflicting API tokens provided in query parameters and headers","Empty body"]}},"required":["detail"]}}},"description":"Bad Request"},"404":{"description":"Not found"},"201":{"content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string","enum":["Data gathering process has started. Please try again later."]}},"required":["detail"]}}},"description":"Created"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/enrich/person":{"post":{"tags":["Enrich"],"summary":"Enrich person","description":"Match a person with our database and enrich it with additional information.\n\n\n**Webhook result:**\n[Documentation](/docs/webhooks/enrich_person_phone)","operationId":"enrichPerson","parameters":[{"name":"apiToken","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Apitoken"}},{"name":"x-api-token","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Token"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MatchPersonBody"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnrichPersonResult"}}}},"403":{"content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string","enum":["API token should be provided in headers or query parameters","Current API token is not registered in our database"]}},"required":["detail"]}}},"description":"Forbidden"},"402":{"content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string","enum":["Insufficient credits"]}},"required":["detail"]}}},"description":"Payment Required"},"400":{"content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string","enum":["Conflicting API tokens provided in query parameters and headers","Empty `person` body"]}},"required":["detail"]}}},"description":"Bad Request"},"404":{"content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string","enum":["No matching record found"]}},"required":["detail"]}}},"description":"Not Found"},"201":{"content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string","enum":["Data gathering process has started. Please try again later."]}},"required":["detail"]}}},"description":"Created"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/data-fields":{"get":{"tags":["Other"],"summary":"Get data fields","description":"Provides a list of all industries and industry categories, technologies and regions searchable by Ocean.io.\n\nCalling this endpoint does not consume any credits.","operationId":"getDataFieldsPublic","parameters":[{"name":"apiToken","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Apitoken"}},{"name":"x-api-token","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Token"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicGetDataFieldsResponse"}}}},"403":{"content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string","enum":["API token should be provided in headers or query parameters","Current API token is not registered in our database"]}},"required":["detail"]}}},"description":"Forbidden"},"402":{"content":{"application/json":{"schema":{"title":"","type":"object","properties":{"detail":{"type":"string","enum":["Insufficient email credits","Some email verifications are already in progress and might use all your remaining email credits. Please try again later.","Insufficient phone credits","Some phone verifications are already in progress and might use all your remaining phone credits. Please try again later.","Insufficient credits"]}},"required":["detail"]}}},"description":"Payment Required"},"400":{"content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string","enum":["Conflicting API tokens provided in query parameters and headers"]}},"required":["detail"]}}},"description":"Bad Request"},"404":{"description":"Not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/search/people":{"post":{"tags":["Search"],"summary":"Search people (deprecated)","description":"Search people using filters and/or people Ids","operationId":"searchPeople","parameters":[{"name":"apiToken","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Apitoken"}},{"name":"x-api-token","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Token"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicSearchPeopleBody"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicSearchPeopleResult"}}}},"403":{"content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string","enum":["API token should be provided in headers or query parameters","Current API token is not registered in our database"]}},"required":["detail"]}}},"description":"Forbidden"},"402":{"content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string","enum":["Insufficient standard credits"]}},"required":["detail"]}}},"description":"Payment Required"},"400":{"content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string","enum":["Conflicting API tokens provided in query parameters and headers","Plan version not supported for this endpoint"]}},"required":["detail"]}}},"description":"Bad Request"},"404":{"description":"Not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v3/search/people":{"post":{"tags":["Search"],"summary":"Lookalike people search","description":"Search people using filters and/or people Ids\n\nLooking for the legacy endpoint? [Access it here](/docs/searchPeople)\n\n**Webhook result:**\n[Email results](/docs/webhooks/people_search_emails)\n[Phone results](/docs/webhooks/people_search_phones)","operationId":"searchPeopleV3","parameters":[{"name":"apiToken","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Apitoken"}},{"name":"x-api-token","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Token"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicSearchPeopleBodyV3"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LookalikePeopleResultV3"}}}},"403":{"content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string","enum":["API token should be provided in headers or query parameters","Current API token is not registered in our database"]}},"required":["detail"]}}},"description":"Forbidden"},"402":{"content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string","enum":["Insufficient credits"]}},"required":["detail"]}}},"description":"Payment Required"},"400":{"content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string","enum":["Conflicting API tokens provided in query parameters and headers"]}},"required":["detail"]}}},"description":"Bad Request"},"404":{"description":"Not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v3/search/people/preview":{"post":{"tags":["Search"],"summary":"Preview - Lookalike people","description":"Preview search people with company information. \n **Only available for enterprise API customers.**","operationId":"searchPeopleV3Preview","parameters":[{"name":"apiToken","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Apitoken"}},{"name":"x-api-token","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Token"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicSearchPeopleBodyV3PreviewV3"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicSearchPeopleResultPreviewV3"}}}},"403":{"content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string","enum":["API token should be provided in headers or query parameters","Current API token is not registered in our database"]}},"required":["detail"]}}},"description":"Forbidden"},"402":{"content":{"application/json":{"schema":{"title":"","type":"object","properties":{"detail":{"type":"string","enum":["Insufficient email credits","Some email verifications are already in progress and might use all your remaining email credits. Please try again later.","Insufficient phone credits","Some phone verifications are already in progress and might use all your remaining phone credits. Please try again later.","Insufficient credits"]}},"required":["detail"]}}},"description":"Payment Required"},"400":{"content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string","enum":["Conflicting API tokens provided in query parameters and headers"]}},"required":["detail"]}}},"description":"Bad Request"},"404":{"description":"Not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/credits/balance":{"get":{"tags":["Other"],"summary":"Get credit balance","description":"Get credit balance","operationId":"getCreditBalance","parameters":[{"name":"apiToken","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Apitoken"}},{"name":"x-api-token","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Token"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetCreditBalanceResponse"}}}},"403":{"content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string","enum":["API token should be provided in headers or query parameters","Current API token is not registered in our database"]}},"required":["detail"]}}},"description":"Forbidden"},"402":{"content":{"application/json":{"schema":{"title":"","type":"object","properties":{"detail":{"type":"string","enum":["Insufficient email credits","Some email verifications are already in progress and might use all your remaining email credits. Please try again later.","Insufficient phone credits","Some phone verifications are already in progress and might use all your remaining phone credits. Please try again later.","Insufficient credits"]}},"required":["detail"]}}},"description":"Payment Required"},"400":{"content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string","enum":["Conflicting API tokens provided in query parameters and headers"]}},"required":["detail"]}}},"description":"Bad Request"},"404":{"description":"Not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/lookup/companies":{"post":{"tags":["Lookup"],"summary":"Lookup multiple companies by domain","description":"Lookup and enrich multiple companies by domain (max 1000). This endpoint provides simple, per-result pricing.\n\n**Key features:**\n- Batch lookup up to 1000 company domains\n- Domain redirections are handled automatically\n\nReturns enriched company data for each domain. Companies not found will have `company: null` in the result.","operationId":"lookupCompanies","parameters":[{"name":"apiToken","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Apitoken"}},{"name":"x-api-token","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Token"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LookupCompaniesRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LookupCompaniesResponse"}}}},"403":{"content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string","enum":["API token should be provided in headers or query parameters","Current API token is not registered in our database"]}},"required":["detail"]}}},"description":"Forbidden"},"402":{"content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string","enum":["Insufficient credits"]}},"required":["detail"]}}},"description":"Payment Required"},"400":{"content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string","enum":["Conflicting API tokens provided in query parameters and headers"]}},"required":["detail"]}}},"description":"Bad Request"},"404":{"description":"Not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/lookup/people":{"post":{"tags":["Lookup"],"summary":"Lookup multiple people by LinkedIn handle or Ocean ID","description":"Lookup and enrich multiple people by LinkedIn handles and/or Ocean.io IDs (max 1000 total). This endpoint provides simple, per-result pricing.\n\n**Key features:**\n- Batch lookup up to 1000 people (combined total of linkedinHandles + oceanIds)\n- Provide either linkedinHandles, oceanIds, or both lists\n\nReturns only successfully matched people in the response.","operationId":"lookupPeople","parameters":[{"name":"apiToken","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Apitoken"}},{"name":"x-api-token","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Token"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LookupPeopleRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LookupPeopleResponse"}}}},"403":{"content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string","enum":["API token should be provided in headers or query parameters","Current API token is not registered in our database"]}},"required":["detail"]}}},"description":"Forbidden"},"402":{"content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string","enum":["Insufficient credits"]}},"required":["detail"]}}},"description":"Payment Required"},"400":{"content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string","enum":["Conflicting API tokens provided in query parameters and headers"]}},"required":["detail"]}}},"description":"Bad Request"},"404":{"description":"Not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/reveal/emails":{"post":{"tags":["Reveal"],"summary":"Reveal emails","description":"Get emails and email statuses for people.\n\n**Webhook result:**\n[Documentation](/docs/webhooks/reveal_emails)","operationId":"revealEmails","parameters":[{"name":"apiToken","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Apitoken"}},{"name":"x-api-token","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Token"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicRevealEmailBody"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicRevealEmailResult"}}}},"403":{"content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string","enum":["API token should be provided in headers or query parameters","Current API token is not registered in our database"]}},"required":["detail"]}}},"description":"Forbidden"},"402":{"content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string","enum":["Insufficient email credits"]}},"required":["detail"]}}},"description":"Payment Required"},"400":{"content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string","enum":["Conflicting API tokens provided in query parameters and headers"]}},"required":["detail"]}}},"description":"Bad Request"},"404":{"description":"Not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/reveal/phones":{"post":{"tags":["Reveal"],"summary":"Reveal phones","description":"Get phones and phone statuses for people.\n\n**Webhook result:**\n[Documentation](/docs/webhooks/reveal_phones)","operationId":"revealPhones","parameters":[{"name":"apiToken","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Apitoken"}},{"name":"x-api-token","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Token"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicRevealPhoneBody"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicRevealPhoneResult"}}}},"403":{"content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string","enum":["API token should be provided in headers or query parameters","Current API token is not registered in our database"]}},"required":["detail"]}}},"description":"Forbidden"},"402":{"content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string","enum":["Insufficient phone credits"]}},"required":["detail"]}}},"description":"Payment Required"},"400":{"content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string","enum":["Conflicting API tokens provided in query parameters and headers"]}},"required":["detail"]}}},"description":"Bad Request"},"404":{"description":"Not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/warmup/companies":{"post":{"tags":["Other"],"summary":"Warmup companies","description":"Check available companies in Ocean's database and trigger process of data gathering for the missing ones.\n\nCalling this endpoint does not consume any credits","operationId":"warmupCompanies","parameters":[{"name":"apiToken","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Apitoken"}},{"name":"x-api-token","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Token"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WarmupCompaniesBody"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WarmupCompaniesResult"}}}},"403":{"content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string","enum":["API token should be provided in headers or query parameters","Current API token is not registered in our database"]}},"required":["detail"]}}},"description":"Forbidden"},"402":{"content":{"application/json":{"schema":{"title":"","type":"object","properties":{"detail":{"type":"string","enum":["Insufficient email credits","Some email verifications are already in progress and might use all your remaining email credits. Please try again later.","Insufficient phone credits","Some phone verifications are already in progress and might use all your remaining phone credits. Please try again later.","Insufficient credits"]}},"required":["detail"]}}},"description":"Payment Required"},"400":{"content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string","enum":["Conflicting API tokens provided in query parameters and headers"]}},"required":["detail"]}}},"description":"Bad Request"},"404":{"description":"Not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v3/search/companies/preview":{"post":{"tags":["Search"],"summary":"Preview - Lookalike companies","description":"Preview search companies using filters. \n **Only available for enterprise API customers.**","operationId":"previewSearchCompaniesV3","parameters":[{"name":"apiToken","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Apitoken"}},{"name":"x-api-token","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Token"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicPreviewSearchCompaniesV3Body"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicPreviewSearchCompaniesV3Response"}}}},"403":{"content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string","enum":["API token should be provided in headers or query parameters","Current API token is not registered in our database","You are not allowed to access this feature"]}},"required":["detail"]}}},"description":"Forbidden"},"402":{"content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string","enum":["Insufficient credits"]}},"required":["detail"]}}},"description":"Payment Required"},"400":{"content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string","enum":["Conflicting API tokens provided in query parameters and headers"]}},"required":["detail"]}}},"description":"Bad Request"},"404":{"description":"Not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/enrich/companies":{"post":{"tags":["Enrich"],"summary":"Enrich companies","description":"Match companies with our database and enrich it with additional information.\n\n\n**Webhook result:**\n[Documentation](/docs/webhooks/enrich_companies)","operationId":"enrichCompanies","parameters":[{"name":"apiToken","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Apitoken"}},{"name":"x-api-token","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Token"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MatchCompaniesBody"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnrichCompaniesResult"}}}},"403":{"content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string","enum":["API token should be provided in headers or query parameters","Current API token is not registered in our database"]}},"required":["detail"]}}},"description":"Forbidden"},"402":{"content":{"application/json":{"schema":{"title":"","type":"object","properties":{"detail":{"type":"string","enum":["Insufficient email credits","Some email verifications are already in progress and might use all your remaining email credits. Please try again later.","Insufficient phone credits","Some phone verifications are already in progress and might use all your remaining phone credits. Please try again later.","Insufficient credits"]}},"required":["detail"]}}},"description":"Payment Required"},"400":{"content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string","enum":["Conflicting API tokens provided in query parameters and headers"]}},"required":["detail"]}}},"description":"Bad Request"},"404":{"description":"Not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/enrich/people":{"post":{"tags":["Enrich"],"summary":"Enrich people","description":"Match people with our database and enrich it with additional information.\n\n\n**Webhook result:**\n[Documentation](/docs/webhooks/enrich_people)","operationId":"enrichPeople","parameters":[{"name":"apiToken","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Apitoken"}},{"name":"x-api-token","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Token"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MatchPeopleBody"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnrichPeopleResult"}}}},"403":{"content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string","enum":["API token should be provided in headers or query parameters","Current API token is not registered in our database"]}},"required":["detail"]}}},"description":"Forbidden"},"402":{"content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string","enum":["Insufficient credits"]}},"required":["detail"]}}},"description":"Payment Required"},"400":{"content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string","enum":["Conflicting API tokens provided in query parameters and headers"]}},"required":["detail"]}}},"description":"Bad Request"},"404":{"description":"Not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/segmentation/{segmentation_id}":{"get":{"tags":["Segmentation"],"summary":"Get segmentation","description":"Retrieve a segmentation by its id, including its segments, traits, and CRM metrics once `status` is `SUCCESSFUL`.","operationId":"getSegmentation","parameters":[{"name":"segmentation_id","in":"path","required":true,"schema":{"type":"integer","title":"Segmentation Id"}},{"name":"apiToken","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Apitoken"}},{"name":"x-api-token","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Token"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Segmentation"}}}},"403":{"content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string","enum":["API token should be provided in headers or query parameters","Current API token is not registered in our database"]}},"required":["detail"]}}},"description":"Forbidden"},"402":{"content":{"application/json":{"schema":{"title":"","type":"object","properties":{"detail":{"type":"string","enum":["Insufficient email credits","Some email verifications are already in progress and might use all your remaining email credits. Please try again later.","Insufficient phone credits","Some phone verifications are already in progress and might use all your remaining phone credits. Please try again later.","Insufficient credits"]}},"required":["detail"]}}},"description":"Payment Required"},"400":{"content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string","enum":["Conflicting API tokens provided in query parameters and headers"]}},"required":["detail"]}}},"description":"Bad Request"},"404":{"description":"Not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/segmentation":{"post":{"tags":["Segmentation"],"summary":"Create segmentation","description":"Create a new segmentation from a list of company domains. Runs asynchronously — poll [Get Segmentation](/docs/getSegmentation) until `status` is `SUCCESSFUL` to read the resulting segments.","operationId":"createSegmentation","parameters":[{"name":"apiToken","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Apitoken"}},{"name":"x-api-token","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Token"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SegmentationInput"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SegmentationId"}}}},"403":{"content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string","enum":["API token should be provided in headers or query parameters","Current API token is not registered in our database"]}},"required":["detail"]}}},"description":"Forbidden"},"402":{"content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}},"required":["detail"]}}},"description":"Payment Required"},"400":{"content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string","enum":["Conflicting API tokens provided in query parameters and headers"]}},"required":["detail"]}}},"description":"Bad Request"},"404":{"description":"Not found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/segmentation/{segmentation_id}/markDomains":{"post":{"tags":["Segmentation"],"summary":"Add domains to the positive or negative list of a segmentation","description":"Append domains to the positive or negative list of an existing segmentation to steer future results toward good-fit companies and away from poor-fit ones.","operationId":"addMarkedDomains","parameters":[{"name":"segmentation_id","in":"path","required":true,"schema":{"type":"integer","title":"Segmentation Id"}},{"name":"apiToken","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Apitoken"}},{"name":"x-api-token","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Token"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddMarkedDomainsInput"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StatusResponse"}}}},"403":{"content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string","enum":["API token should be provided in headers or query parameters","Current API token is not registered in our database"]}},"required":["detail"]}}},"description":"Forbidden"},"402":{"content":{"application/json":{"schema":{"title":"","type":"object","properties":{"detail":{"type":"string","enum":["Insufficient email credits","Some email verifications are already in progress and might use all your remaining email credits. Please try again later.","Insufficient phone credits","Some phone verifications are already in progress and might use all your remaining phone credits. Please try again later.","Insufficient credits"]}},"required":["detail"]}}},"description":"Payment Required"},"400":{"content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string","enum":["Conflicting API tokens provided in query parameters and headers"]}},"required":["detail"]}}},"description":"Bad Request"},"404":{"content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string","enum":["Segmentation not found"]}},"required":["detail"]}}},"description":"Not Found"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/segmentation/{segmentation_id}/attribute-domains":{"post":{"tags":["Segmentation"],"summary":"Attribute domains to segments","description":"Assign each input domain to the closest segment in a segmentation, with a 0-1 match score. The segmentation must have completed successfully first.","operationId":"attributeSegmentationDomains","parameters":[{"name":"segmentation_id","in":"path","required":true,"schema":{"type":"integer","title":"Segmentation Id"}},{"name":"apiToken","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Apitoken"}},{"name":"x-api-token","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Api-Token"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AttributeSegmentationDomainsRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AttributeSegmentationDomainsResponse"}}}},"403":{"content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string","enum":["API token should be provided in headers or query parameters","Current API token is not registered in our database"]}},"required":["detail"]}}},"description":"Forbidden"},"402":{"content":{"application/json":{"schema":{"title":"","type":"object","properties":{"detail":{"type":"string","enum":["Insufficient email credits","Some email verifications are already in progress and might use all your remaining email credits. Please try again later.","Insufficient phone credits","Some phone verifications are already in progress and might use all your remaining phone credits. Please try again later.","Insufficient credits"]}},"required":["detail"]}}},"description":"Payment Required"},"400":{"content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string","enum":["Conflicting API tokens provided in query parameters and headers"]}},"required":["detail"]}}},"description":"Bad Request"},"404":{"content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string"}},"required":["detail"]}}},"description":"Not Found"},"412":{"content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string","enum":["Segmentation must be re-run to enable attribution."]}},"required":["detail"]}}},"description":"Precondition Failed"},"502":{"content":{"application/json":{"schema":{"type":"object","properties":{"detail":{"type":"string","enum":["Clustering service error"]}},"required":["detail"]}}},"description":"Bad Gateway"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}}},"webhooks":{"reveal_emails":{"post":{"summary":"Reveal Email Results","description":"When the email verifications are done, the results will be sent to you via a POST request to\nthe url you passed in the Reveal endpoint.","operationId":"reveal_email_resultsreveal_emails_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicRevealEmailWebhookResult"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"people_search_emails":{"post":{"summary":"People Search Email Results","description":"When the email verifications from the search are done, the results will be sent to you via a POST request to\nthe url you passed in the Search People endpoint.","operationId":"people_search_email_resultspeople_search_emails_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicSearchPeopleEmailWebhookResult"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"enrich_person_email":{"post":{"summary":"Enrich Person Email Result","description":"When the email verification from the request is done, the results will be sent to you via a POST request to\nthe url you passed in the `Enrich person` endpoint.","operationId":"enrich_person_email_resultenrich_person_email_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmailWebhookPerson"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"reveal_phones":{"post":{"summary":"Reveal Phone Results","description":"When the phone verifications are done, the results will be sent to you via a POST request to\nthe url you passed in the Reveal endpoint.","operationId":"reveal_phone_resultsreveal_phones_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicRevealPhoneWebhookResult"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"people_search_phones":{"post":{"summary":"People Search Phone Results","description":"When the phone verifications from the search are done, the results will be sent to you via a POST request to\nthe url you passed in the Search People endpoint.","operationId":"people_search_phone_resultspeople_search_phones_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicSearchPeoplePhoneWebhookResult"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"enrich_person_phone":{"post":{"summary":"Enrich Person Phone Result","description":"When the phone verification from the request is done, the results will be sent to you via a POST request to\nthe url you passed in the `Enrich person` endpoint.","operationId":"enrich_person_phone_resultenrich_person_phone_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PhoneWebhookPerson"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"enrich_companies":{"post":{"summary":"Enrich Companies Result","description":"When the companies enrichment request is completed, the results will be sent to you via a POST request\nto the url you provided in the `Enrich companies` endpoint.","operationId":"enrich_companies_resultenrich_companies_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnrichCompaniesWebhookResult"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"enrich_people":{"post":{"summary":"Enrich People Result","description":"When the people enrichment request is completed, the results will be sent to you via a POST request\nto the url you provided in the `Enrich people` endpoint.","operationId":"enrich_people_resultenrich_people_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnrichPeopleWebhookResult"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}}},"components":{"schemas":{"AddMarkedDomainsInput":{"properties":{"domains":{"items":{"type":"string"},"type":"array","title":"Domains","description":"Domains to add to the positive or negative list.","examples":[["stripe.com","twilio.com"]]},"type":{"type":"string","enum":["positive","negative"],"title":"Type","description":"Whether these domains are a good fit (`positive`) or a poor fit (`negative`).","examples":["positive"]}},"type":"object","required":["domains","type"],"title":"AddMarkedDomainsInput"},"AllAnyNoneFilter":{"properties":{"anyOf":{"items":{"type":"string"},"type":"array","nullable":true,"title":"Any of the values","description":"The filter should match **any** of the specified values."},"allOf":{"items":{"type":"string"},"type":"array","nullable":true,"title":"All values","description":"The filter should match **all** of the specified values."},"noneOf":{"items":{"type":"string"},"type":"array","nullable":true,"title":"None of the values","description":"The filter should match **none** of the specified values."}},"additionalProperties":false,"type":"object","title":"AllAnyNoneFilter"},"AllAnyNoneFilterSocialMedia":{"properties":{"anyOf":{"items":{"type":"string","enum":["linkedin","x","facebook","instagram","youtube","xing","tiktok"]},"type":"array","nullable":true,"title":"Any of the values","description":"The filter should match **any** of the specified values."},"allOf":{"items":{"type":"string","enum":["linkedin","x","facebook","instagram","youtube","xing","tiktok"]},"type":"array","nullable":true,"title":"All values","description":"The filter should match **all** of the specified values."},"noneOf":{"items":{"type":"string","enum":["linkedin","x","facebook","instagram","youtube","xing","tiktok"]},"type":"array","nullable":true,"title":"None of the values","description":"The filter should match **none** of the specified values."}},"additionalProperties":false,"type":"object","title":"AllAnyNoneFilterSocialMedia"},"AllJobDescriptionsFilter":{"properties":{"allOf":{"items":{"type":"string"},"type":"array","nullable":true,"title":"All of","description":"Job descriptions must include all of these","examples":[["software engineer"]]},"anyOf":{"items":{"type":"string"},"type":"array","nullable":true,"title":"Any of","description":"Job descriptions must include at least one of these","examples":[["software engineer"]]},"noneOf":{"items":{"type":"string"},"type":"array","nullable":true,"title":"None of","description":"Job descriptions must not include any of these","examples":[["entry-level"]]}},"additionalProperties":false,"type":"object","title":"AllJobDescriptionsFilter"},"AttributeSegmentationDomainsRequest":{"properties":{"domains":{"items":{"type":"string"},"type":"array","maxItems":1000,"minItems":1,"title":"Domains","description":"Domains to attribute (max 1000).","examples":[["domain1.com","domain2.com"]]}},"type":"object","required":["domains"],"title":"AttributeSegmentationDomainsRequest"},"AttributeSegmentationDomainsResponse":{"properties":{"results":{"items":{"$ref":"#/components/schemas/AttributedDomain"},"type":"array","title":"Results","description":"One result per input domain, in the same order."},"totalRequested":{"type":"integer","title":"Totalrequested","description":"Total number of domains requested.","examples":[3]},"totalAttributed":{"type":"integer","title":"Totalattributed","description":"Number of domains attributed to a segment. Excludes unmatched domains and domains that couldn't be evaluated.","examples":[2]}},"type":"object","required":["results","totalRequested","totalAttributed"],"title":"AttributeSegmentationDomainsResponse"},"AttributedDomain":{"properties":{"domain":{"type":"string","title":"Domain","description":"The domain that was attributed.","examples":["domain1.com"]},"segmentId":{"type":"integer","nullable":true,"title":"Segmentid","description":"ID of the matching segment, or `null` if the domain didn't match any segment closely enough (the unattributed bucket).","examples":[42]},"score":{"type":"number","maximum":1.0,"minimum":0.0,"nullable":true,"title":"Score","description":"Match score (0-1). Higher means a stronger match to the assigned segment. `null` when the domain didn't match any segment closely enough or couldn't be evaluated.","examples":[0.91]}},"type":"object","required":["domain","segmentId"],"title":"AttributedDomain"},"AutoCompletionCompany":{"properties":{"domain":{"type":"string","title":"Domain","description":"Domain of the company, used as a unique identifier","examples":["ocean.io"]},"logo":{"type":"string","nullable":true,"title":"Logo","description":"Logo of the company (URL)","examples":["https://cdn2.ocean.io/companies-logos-v1/domain.com/020539e284d9318e805301b672ad23047c30818a.png"]},"name":{"type":"string","nullable":true,"title":"Name","description":"Name of the company","examples":["Ocean"]}},"additionalProperties":false,"type":"object","required":["domain"],"title":"AutoCompletionCompany"},"CompaniesCityFilter":{"properties":{"city":{"type":"string","title":"City","description":"City name","examples":["New York","Los Angeles"]},"country":{"type":"string","nullable":true,"title":"Country code","description":"Alpha-2 ISO 3166 country code","examples":["us","ca"]},"region":{"$ref":"#/components/schemas/State","nullable":true,"title":"Region filter","description":"Filter by country region (if applicable)","examples":[[{"abbreviation":"CA","country":"us"},{"abbreviation":"YT","country":"ca"}]]},"postalCode":{"type":"string","nullable":true,"title":"Postal code","description":"Filter by postal code","examples":["10001","90001"]}},"additionalProperties":false,"type":"object","required":["city"],"title":"CompaniesCityFilter"},"CompaniesFiltersV1":{"properties":{"lookalikeDomains":{"items":{"type":"string"},"type":"array","maxItems":10,"nullable":true,"title":"Similar domains","description":"Find domains similar to the provided","examples":[["bestcustomer.com","idealcustomer.com"]]},"includeDomains":{"items":{"type":"string"},"type":"array","nullable":true,"title":"Domains to include","description":"Only return specified domains","examples":[["interesting.com","amazing.com"]]},"excludeDomains":{"items":{"type":"string"},"type":"array","nullable":true,"title":"Domains to exclude","description":"Exclude specified domains from the results","examples":[["boring.com","useless.com"]]},"companySizes":{"items":{"$ref":"#/components/schemas/PublicCompanySize"},"type":"array","nullable":true,"title":"Company size","description":"Filter by company size ranges","examples":[["2-10","51-200","100001-500000"]]},"ecommerce":{"type":"boolean","nullable":true,"title":"E-commerce","description":"true -> returns only e-commerce companies<br>false -> excludes e-commerce companies<br>none -> returns everything","examples":[true,false]},"yearFounded":{"$ref":"#/components/schemas/FromTo","nullable":true,"title":"Year founded","description":"Filter by year founded. Valid range: 0-2100","examples":[{"from":1960,"to":1990}]},"countriesCount":{"$ref":"#/components/schemas/FromTo","nullable":true,"title":"Countries count","description":"Filter by the number of countries in which the company operates. Valid range: 0-300","examples":[{"from":1,"to":5}]},"revenues":{"items":{"$ref":"#/components/schemas/Revenue"},"type":"array","nullable":true,"title":"Revenue","description":"Filter by revenue ranges","examples":[["0-1M","1-10M",">1000M"]]},"employeeCountOcean":{"$ref":"#/components/schemas/FromTo","nullable":true,"title":"Employee count","description":"Only return companies that have a certain number of employee profiles in our database. Valid range: 0-10,000,000","examples":[{"from":10,"to":100}]},"mobileApps":{"$ref":"#/components/schemas/FromTo","nullable":true,"title":"Number of mobile apps","description":"Filter by the number of mobile apps that the company produced. Valid range: 0-10,000","examples":[{"from":1,"to":5}],"deprecated":true},"mobileAppsFilter":{"$ref":"#/components/schemas/MobileAppsFilter","nullable":true,"title":"Mobile apps filter","description":"Filter by mobile app attributes (count, downloads, release year)","examples":[{"count":{"from":1,"to":5}}]},"locationsCount":{"$ref":"#/components/schemas/FromTo","nullable":true,"title":"Locations count","description":"Only return companies that have a certain amount of locations. Valid range: 0-100,000","examples":[{"from":5,"to":10}]},"departmentSizes":{"items":{"$ref":"#/components/schemas/DepartmentSizeFilter"},"type":"array","nullable":true,"title":"Department size filter","description":"Filter by the size of company departments. Valid range: 0-10,000,000","examples":[[{"department":"Accounting and Finance","from":5,"to":10}]]},"employeeCountLinkedin":{"$ref":"#/components/schemas/FromTo","nullable":true,"title":"Employee count on LinkedIn","description":"The number of employees a company has on LinkedIn. Valid range: 0-10,000,000","examples":[{"from":50,"to":100}]},"industries":{"$ref":"#/components/schemas/IndustriesFilter","nullable":true,"title":"Industries","description":"Filter by company industries. Available values are located at /v2/data-fields endpoint.<br>","examples":[{"industries":["Advertising Platforms","Biopharma"],"mode":"anyOf"}]},"excludeIndustries":{"items":{"type":"string"},"type":"array","nullable":true,"title":"Exclude industries","description":"Array of the industries to exclude","examples":[["CRM","B2B"]]},"industryCategories":{"$ref":"#/components/schemas/IndustryCategoriesFilter","nullable":true,"title":"Industry categories","description":"Filter by company industry categories. Available values are located at /v2/data-fields endpoint.<br>","examples":[{"industryCategories":["Real Estate","Hardware"],"mode":"anyOf"}]},"excludeIndustryCategories":{"items":{"type":"string"},"type":"array","nullable":true,"title":"Exclude industry categories","description":"Array of the industry categories to exclude","examples":[["Information Technology","Privacy and Security"]]},"linkedinIndustries":{"items":{"type":"string"},"type":"array","nullable":true,"title":"Linkedin industries","description":"Filter by Linkedin industries. This is OR filter. Available values are located at /v2/data-fields endpoint.<br>","examples":[["Management Consulting","Computer Software"]]},"excludeLinkedinIndustries":{"items":{"type":"string"},"type":"array","nullable":true,"title":"Exclude Linkedin industries","description":"Array of Linkedin industries to exclude. Available values are located at /v2/data-fields endpoint.<br>","examples":[["Management Consulting","Computer Software"]]},"fundingRound":{"$ref":"#/components/schemas/FundingRoundFilter","nullable":true,"title":"Funding rounds","description":"Filter by funding rounds","examples":[{"date":{"from":"2020-01-01","to":"2023-01-01"},"raised":{"from":1000000,"to":5000000},"types":["Seed","Series A"]}]},"countries":{"items":{"type":"string"},"type":"array","nullable":true,"title":"Countries","description":"Filter by **all** countries where the company has presence.<br>Must be provided as alpha-2 ISO 3166 country codes.<br>`[\"es\", \"pt\"]` means Spain (primary/not primary) **OR** Portugal (primary/not primary).<br>if additional filter `primaryCountries = [\"de\"]` is used then it means:<br>(Spain (not primary) **OR** Portugal (not primary)) **AND** Germany (primary)","examples":[["es","pt"]]},"primaryCountries":{"items":{"type":"string"},"type":"array","nullable":true,"title":"Primary countries","description":"Filter only by **primary** countries where the company has presence.<br>Must be provided as alpha-2 ISO 3166 country codes.<br>`countries = [\"de\", \"at\"]` means Germany (primary) **OR** Austria (primary).<br>if additional filter `countries = [\"es\"]` is used then it means:<br>(Germany (primary) **OR** Austria (primary)) **AND** Spain (not primary)","examples":[["de"]]},"states":{"items":{"$ref":"#/components/schemas/State"},"type":"array","nullable":true,"title":"State filter","description":"Filter by country states (if applicable)","examples":[[{"abbreviation":"CA","country":"us"},{"abbreviation":"YT","country":"ca"}]]},"primaryStates":{"items":{"$ref":"#/components/schemas/State"},"type":"array","nullable":true,"title":"Primary states","description":"Filter only by **primary** states where the company has presence.<br>Behavior is the same as for primary countries","examples":[[{"abbreviation":"NY","country":"us"}]]},"cities":{"items":{"$ref":"#/components/schemas/CompaniesCityFilter"},"type":"array","nullable":true,"title":"Cities","description":"Filter by cities","examples":[[{"city":"New York","country":"us"},{"city":"Los Angeles","country":"us"}]]},"primaryCities":{"items":{"$ref":"#/components/schemas/CompaniesCityFilter"},"type":"array","nullable":true,"title":"Primary cities","description":"Filter only by **primary** cities where the company has presence.<br>Behavior is the same as for primary countries","examples":[[{"city":"New York","country":"us"},{"city":"Los Angeles","country":"us"}]]},"headquarterGeolocation":{"$ref":"#/components/schemas/GeolocationFilter","nullable":true,"title":"Headquarter location","description":"Filter by headquarter location","examples":[{"latitude":38.880817,"longitude":-77.10216,"radius":1000}]},"geolocation":{"$ref":"#/components/schemas/GeolocationFilter","nullable":true,"title":"Office locations","description":"Filter by locations of offices other than the headquarters","examples":[{"latitude":50.83348,"longitude":-0.1410065,"radius":5000}]},"webTrafficVisits":{"$ref":"#/components/schemas/FromTo","nullable":true,"title":"Web traffic visits","description":"Only return companies that have a certain amount of visits. Valid range: 0-100,000,000,000","examples":[{"from":1000,"to":10000}]},"keywords":{"$ref":"#/components/schemas/KeywordsFilterV1","nullable":true,"title":"Keywords filter","description":"Filter by keywords","examples":[{"keywords":["premium copy paper","paper"],"mode":"anyOf"}]},"fieldsExist":{"items":{"type":"string","enum":["companySize","countries","departmentSizes","description","emails","faxes","impressum","industries","industryCategories","keywords","legalName","linkedinIndustry","locations","logo","medias","mobileApps","name","phones","primaryCountry","revenue","rootUrl","technologies","technologyCategories","webTraffic","yearFounded"]},"type":"array","nullable":true,"title":"Fields exist","description":"Return records where specified fields exist","examples":[["industries","emails","locations"]]},"fieldsNotExist":{"items":{"type":"string","enum":["companySize","countries","departmentSizes","description","emails","faxes","impressum","industries","industryCategories","keywords","legalName","linkedinIndustry","locations","logo","medias","mobileApps","name","phones","primaryCountry","revenue","rootUrl","technologies","technologyCategories","webTraffic","yearFounded"]},"type":"array","nullable":true,"title":"Fields do not exist","description":"Return records where specified fields do not exist","examples":[["industryCategories","phones"]]},"socialMedias":{"$ref":"#/components/schemas/SocialMediasFilterV1","nullable":true,"title":"Social medias","description":"Filter by social media presence","examples":[{"medias":["linkedin","facebook"],"mode":"anyOf"}]},"technologies":{"$ref":"#/components/schemas/TechnologiesFilterV1","nullable":true,"title":"Technologies","description":"Filter by software technologies used by the company. Available values are located at /v2/data-fields endpoint.<br>","examples":[{"mode":"anyOf","technologies":["Amazon Advertising","Google Maps"]}]},"minScore":{"type":"number","maximum":1.0,"exclusiveMinimum":0.0,"nullable":true,"title":"Minimum score","description":"Minimum score for companies to appear in the results.","default":0.79,"examples":[0.95]}},"additionalProperties":false,"type":"object","title":"CompaniesFiltersV1"},"CompaniesFiltersV3":{"properties":{"lookalikeDomains":{"items":{"type":"string"},"type":"array","maxItems":10,"nullable":true,"title":"Similar domains","description":"Find domains similar to the provided","examples":[["bestcustomer.com","idealcustomer.com"]]},"includeDomains":{"items":{"type":"string"},"type":"array","nullable":true,"title":"Domains to include","description":"Only return specified domains","examples":[["interesting.com","amazing.com"]]},"excludeDomains":{"items":{"type":"string"},"type":"array","nullable":true,"title":"Domains to exclude","description":"Exclude specified domains from the results","examples":[["boring.com","useless.com"]]},"companySizes":{"items":{"$ref":"#/components/schemas/PublicCompanySize"},"type":"array","nullable":true,"title":"Company size","description":"Filter by company size ranges","examples":[["2-10","51-200","100001-500000"]]},"ecommerce":{"type":"boolean","nullable":true,"title":"E-commerce","description":"true -> returns only e-commerce companies<br>false -> excludes e-commerce companies<br>none -> returns everything","examples":[true,false]},"yearFounded":{"$ref":"#/components/schemas/FromTo","nullable":true,"title":"Year founded","description":"Filter by year founded. Valid range: 0-2100","examples":[{"from":1960,"to":1990}]},"countriesCount":{"$ref":"#/components/schemas/FromTo","nullable":true,"title":"Countries count","description":"Filter by the number of countries in which the company operates. Valid range: 0-300","examples":[{"from":1,"to":5}]},"revenues":{"items":{"$ref":"#/components/schemas/Revenue"},"type":"array","nullable":true,"title":"Revenue","description":"Filter by revenue ranges","examples":[["0-1M","1-10M",">1000M"]]},"employeeCountOcean":{"$ref":"#/components/schemas/FromTo","nullable":true,"title":"Employee count","description":"Only return companies that have a certain number of employee profiles in our database. Valid range: 0-10,000,000","examples":[{"from":10,"to":100}]},"mobileApps":{"$ref":"#/components/schemas/FromTo","nullable":true,"title":"Number of mobile apps","description":"Filter by the number of mobile apps that the company produced. Valid range: 0-10,000","examples":[{"from":1,"to":5}],"deprecated":true},"mobileAppsFilter":{"$ref":"#/components/schemas/MobileAppsFilter","nullable":true,"title":"Mobile apps filter","description":"Filter by mobile app attributes (count, downloads, release year)","examples":[{"count":{"from":1,"to":5}}]},"locationsCount":{"$ref":"#/components/schemas/FromTo","nullable":true,"title":"Locations count","description":"Only return companies that have a certain amount of locations. Valid range: 0-100,000","examples":[{"from":5,"to":10}]},"departmentSizes":{"items":{"$ref":"#/components/schemas/DepartmentSizeFilter"},"type":"array","nullable":true,"title":"Department size filter","description":"Filter by the size of company departments. Valid range: 0-10,000,000","examples":[[{"department":"Accounting and Finance","from":5,"to":10}]]},"employeeCountLinkedin":{"$ref":"#/components/schemas/FromTo","nullable":true,"title":"Employee count on LinkedIn","description":"The number of employees a company has on LinkedIn. Valid range: 0-10,000,000","examples":[{"from":50,"to":100}]},"industries":{"$ref":"#/components/schemas/IndustriesFilter","nullable":true,"title":"Industries","description":"Filter by company industries. Available values are located at /v2/data-fields endpoint.<br>","examples":[{"industries":["Advertising Platforms","Biopharma"],"mode":"anyOf"}]},"excludeIndustries":{"items":{"type":"string"},"type":"array","nullable":true,"title":"Exclude industries","description":"Array of the industries to exclude","examples":[["CRM","B2B"]]},"industryCategories":{"$ref":"#/components/schemas/IndustryCategoriesFilter","nullable":true,"title":"Industry categories","description":"Filter by company industry categories. Available values are located at /v2/data-fields endpoint.<br>","examples":[{"industryCategories":["Real Estate","Hardware"],"mode":"anyOf"}]},"excludeIndustryCategories":{"items":{"type":"string"},"type":"array","nullable":true,"title":"Exclude industry categories","description":"Array of the industry categories to exclude","examples":[["Information Technology","Privacy and Security"]]},"linkedinIndustries":{"items":{"type":"string"},"type":"array","nullable":true,"title":"Linkedin industries","description":"Filter by Linkedin industries. This is OR filter. Available values are located at /v2/data-fields endpoint.<br>","examples":[["Management Consulting","Computer Software"]]},"excludeLinkedinIndustries":{"items":{"type":"string"},"type":"array","nullable":true,"title":"Exclude Linkedin industries","description":"Array of Linkedin industries to exclude. Available values are located at /v2/data-fields endpoint.<br>","examples":[["Management Consulting","Computer Software"]]},"fundingRound":{"$ref":"#/components/schemas/FundingRoundFilter","nullable":true,"title":"Funding rounds","description":"Filter by funding rounds","examples":[{"date":{"from":"2020-01-01","to":"2023-01-01"},"raised":{"from":1000000,"to":5000000},"types":["Seed","Series A"]}]},"primaryLocations":{"$ref":"#/components/schemas/LocationsFilter","nullable":true,"title":"Primary locations (HQ) filter","description":"Filter by primary locations (HQ)"},"otherLocations":{"$ref":"#/components/schemas/LocationsFilter","nullable":true,"title":"Office locations filter","description":"Filter by locations of offices other than the headquarters"},"webTraffic":{"$ref":"#/components/schemas/WebTrafficFilter","nullable":true,"title":"Web traffic","description":"Filter by web traffic metrics","examples":[{"views":{"from":1000,"to":1000000},"visits":{"from":1000,"to":10000}}]},"socialMedias":{"$ref":"#/components/schemas/SocialMediasFilterV3","nullable":true,"title":"Social medias","description":"Filter by social media presence","examples":[{"medias":{"all_of":["facebook","x"],"any_of":["youtube","xing"],"none_of":["instagram","tiktok"]},"min_count":3}]},"technologies":{"$ref":"#/components/schemas/TechnologiesFilterV3","nullable":true,"title":"Technologies filter","description":"Filter by the software technologies present on the company's website","examples":[{"apps":{"all_of":["Amazon Advertising","Google Maps"],"any_of":["BrightEdge","Nette Framework"],"none_of":["Kount","Nativo"]},"categories":{"all_of":["Analytics","Security"],"any_of":["Advertising","WordPress themes"],"none_of":["CMS","Reviews"]}}]},"keywords":{"$ref":"#/components/schemas/AllAnyNoneFilter","nullable":true,"title":"Keywords","description":"Filter by keywords","examples":[{"all_of":["lead generation","marketing"],"any_of":["smart prospecting","data platform"],"none_of":["seo"]}]},"minRelevance":{"type":"string","enum":["A","B","C"],"nullable":true,"title":"Min relevance (inclusive)","description":"Filter by min relevance (A - the most relevant).","examples":["B"]},"maxRelevance":{"type":"string","enum":["A","B","C"],"nullable":true,"title":"Max relevance (inclusive)","description":"Filter by max relevance (A - the most relevant). Use combination of min_relevance: \"B\" and max_relevance: \"B\" to get only results with the \"B\" relevance","examples":["B"]},"headcountGrowth":{"$ref":"#/components/schemas/HeadcountGrowthFilter","nullable":true,"title":"Headcount growth","description":"Filter by headcount growth","examples":[{"asPercentage":false,"growthRange":{"from":-1.0,"to":3.0},"months":"Three months"}]},"departmentHeadcountGrowth":{"$ref":"#/components/schemas/DepartmentGrowthAllAnyFilter","nullable":true,"title":"Department headcount growth","description":"Filter by department headcount growth","examples":[{"anyOf":[{"asPercentage":false,"department":"Accounting and Finance","growthRange":{"from":-1.0,"to":3.0},"months":"Three months"}]}]},"updatedWithinMonths":{"type":"integer","maximum":60.0,"exclusiveMinimum":0.0,"nullable":true,"title":"Updated within months","description":"Filter companies updated within the last N months.","examples":[1,3,12]},"fieldsExist":{"items":{"type":"string","enum":["companySize","countries","departmentSizes","description","emails","faxes","impressum","industries","industryCategories","keywords","legalName","linkedinIndustry","locations","logo","medias","mobileApps","name","phones","primaryCountry","revenue","rootUrl","technologies","technologyCategories","webTraffic","yearFounded"]},"type":"array","nullable":true,"title":"Fields exist","description":"Return records where specified fields exist","examples":[["industries","emails","locations"]]},"fieldsNotExist":{"items":{"type":"string","enum":["companySize","countries","departmentSizes","description","emails","faxes","impressum","industries","industryCategories","keywords","legalName","linkedinIndustry","locations","logo","medias","mobileApps","name","phones","primaryCountry","revenue","rootUrl","technologies","technologyCategories","webTraffic","yearFounded"]},"type":"array","nullable":true,"title":"Fields do not exist","description":"Return records where specified fields do not exist","examples":[["industryCategories","phones"]]},"companyMatchingMode":{"type":"string","enum":["precise","broad"],"nullable":true,"title":"Company matching mode","description":"Controls how strictly companies are matched when using lookalike_domains. \"precise\" (default): Matches companies with similar products/services using semantic similarity. \"broad\": Matches companies within the same industries, casting a wider net for results.","examples":["precise"]}},"additionalProperties":false,"type":"object","title":"CompaniesFiltersV3"},"Company":{"properties":{"name":{"type":"string","nullable":true,"title":"Company name","description":"The name of the company","examples":["Ocean ApS"]},"registrationNumber":{"type":"string","nullable":true,"title":"Registration number","description":"The registration number of the company","examples":["123456789"]},"email":{"type":"string","nullable":true,"title":"Email","description":"The email of the company","examples":["hello@ocean.io"]},"phone":{"type":"string","nullable":true,"title":"Phone","description":"The phone number of the company","examples":["+45 12345678"]},"countryCode":{"type":"string","nullable":true,"title":"Country code","description":"Country code of the company's headquarters","examples":["dk"]},"state":{"type":"string","nullable":true,"title":"State","description":"Name of the state/region where the company is located","examples":["Arkansas"]},"city":{"type":"string","nullable":true,"title":"City","description":"The city where the company is located","examples":["Copenhagen"]},"streetAddress":{"type":"string","nullable":true,"title":"Street address","description":"Street address of the company","examples":["Strandgade 6"]},"postalCode":{"type":"string","nullable":true,"title":"Postal code","description":"The postal code of the company","examples":["1401"]},"address":{"type":"string","nullable":true,"title":"Address","description":"Full address of the company","examples":["Strandgade 6, 1401 Copenhagen"]},"facebook":{"type":"string","nullable":true,"title":"Facebook","description":"The Facebook page of the company","examples":["https://www.facebook.com/oceanio"]},"twitter":{"type":"string","nullable":true,"title":"Twitter","description":"Company's Twitter page","examples":["https://twitter.com/oceanio"]},"linkedin":{"type":"string","nullable":true,"title":"LinkedIn","description":"LinkedIn page of the company","examples":["https://www.linkedin.com/company/oceanio"]},"instagram":{"type":"string","nullable":true,"title":"Instagram","description":"Instagram page of the company","examples":["https://www.instagram.com/oceanio"]},"xing":{"type":"string","nullable":true,"title":"Xing","description":"The Xing page of the company","examples":["https://www.xing.com/oceanio"]},"domain":{"type":"string","nullable":true,"title":"Domain","description":"The domain name of the company's website","examples":["ocean.io"]},"youtube":{"type":"string","nullable":true,"title":"YouTube","description":"The YouTube page of the company","examples":["https://www.youtube.com/oceanio"]}},"additionalProperties":false,"type":"object","title":"Company"},"CompanyField":{"type":"string","enum":["domain","countries","primaryCountry","companySize","industryCategories","industries","linkedinIndustry","ecommerce","keywords","employeeCountOcean","employeeCountLinkedin","revenue","yearFounded","description","emails","phones","phones.number","phones.country","phones.primary","logo","technologies","technologyCategories","mobileApps","mobileApps.link","mobileApps.name","webTraffic","webTraffic.visits","webTraffic.pageViews","webTraffic.pagesPerVisit","medias","medias.linkedin","medias.twitter","medias.youtube","medias.facebook","medias.xing","medias.tiktok","medias.instagram","name","legalName","locations","locations.primary","locations.country","locations.locality","locations.region","locations.postalCode","locations.streetAddress","locations.state","locations.regionCode","departmentSizes","rootUrl","faxes","faxes.number","faxes.country","faxes.primary","impressum","impressum.company","impressum.address","impressum.email","impressum.phone","impressum.fax","impressum.vat","impressum.url","impressum.people","fundingRound","fundingRound.date","fundingRound.type","fundingRound.moneyRaisedInUsd","fundingRound.cbUrl","redirectedFrom","updatedAt","headcountGrowth","headcountGrowth.threeMonths","headcountGrowth.threeMonthsPercentage","headcountGrowth.sixMonths","headcountGrowth.sixMonthsPercentage","headcountGrowth.twelveMonths","headcountGrowth.twelveMonthsPercentage","headcountGrowthPerDepartment"],"title":"CompanyField"},"ContactNumber":{"properties":{"number":{"type":"string","title":"Number","description":"Contact number"},"country":{"type":"string","nullable":true,"title":"Contact number country code","description":"Country code of the contact number"},"primary":{"type":"boolean","nullable":true,"title":"Primary contact number","description":"True if the contact number is the primary contact number of the company"}},"type":"object","required":["number"],"title":"ContactNumber"},"Credits":{"properties":{"oneTime":{"type":"number","title":"Onetime","description":"Number of one-time credits left.","default":0,"examples":[1000]},"recurrent":{"type":"number","title":"Recurrent","description":"Number of recurrent credits left.","default":0,"examples":[1000]}},"type":"object","title":"Credits"},"CrmDealStatusFilter":{"type":"string","enum":["won","lost","open","noDeal"],"title":"CrmDealStatusFilter"},"CrmFilterV3":{"properties":{"dealStatus":{"items":{"$ref":"#/components/schemas/CrmDealStatusFilter"},"type":"array","nullable":true,"title":"Dealstatus","description":"Companies must have at least one CRM deal in any of these statuses (e.g. `['won']` for closed-won customers)."},"latestDealStatus":{"items":{"$ref":"#/components/schemas/CrmDealStatusFilter"},"type":"array","nullable":true,"title":"Latestdealstatus","description":"Companies whose *latest* CRM deal is in any of these statuses."},"accountOwnerIds":{"items":{"type":"string"},"type":"array","nullable":true,"title":"Accountownerids","description":"CRM account-owner IDs."},"latestDealOwnerIds":{"items":{"type":"string"},"type":"array","nullable":true,"title":"Latestdealownerids","description":"Owner IDs of the latest CRM deal on the account."}},"additionalProperties":false,"type":"object","title":"CrmFilterV3","description":"Filter to companies whose CRM record matches.\n\nResolved server-side by the search engine, which calls\n`integrations.SearchByCrmFilters` with these options to derive a\ndomain include-list before running the main companies query, so this\ncomposes naturally with every other filter (lookalike, segmentation,\nindustry, size, etc.)."},"CurrentJobDescriptionFilter":{"properties":{"allOf":{"items":{"type":"string"},"type":"array","nullable":true,"title":"All of","description":"The current job description must include all of these","examples":[["software engineer","big tech company"]]},"anyOf":{"items":{"type":"string"},"type":"array","nullable":true,"title":"Any of","description":"The current job description must include at least one of these","examples":[["software engineer"]]},"noneOf":{"items":{"type":"string"},"type":"array","nullable":true,"title":"None of","description":"The current job description must not include any of these","examples":[["entry-level"]]}},"additionalProperties":false,"type":"object","title":"CurrentJobDescriptionFilter"},"Department":{"type":"string","enum":["Accounting and Finance","Board","Business Support","Customer Relations","Design","Editorial Personnel","Engineering","Founder/Owner","Healthcare","HR","Legal","Management","Manufacturing","Marketing and Advertising","Operations","PR and Communications","Procurement","Product","Quality Control","R&D","Sales","Security","Supply Chain","Other"],"title":"Department"},"DepartmentGrowthAllAnyFilter":{"properties":{"anyOf":{"items":{"$ref":"#/components/schemas/DepartmentGrowthFilter"},"type":"array","nullable":true,"title":"Any of department headcount growth filters","description":"The result should match **any** of the department headcount growth filters.","examples":[[{"asPercentage":false,"department":"Accounting and Finance","growthRange":{"from":-1.0,"to":3.0},"months":"Three months"}]]},"allOf":{"items":{"$ref":"#/components/schemas/DepartmentGrowthFilter"},"type":"array","nullable":true,"title":"All values","description":"The result should match **all** of the he department headcount growth filters.","examples":[[{"asPercentage":false,"department":"Accounting and Finance","growthRange":{"from":-1.0,"to":3.0},"months":"Three months"}]]}},"additionalProperties":false,"type":"object","title":"DepartmentGrowthAllAnyFilter"},"DepartmentGrowthFilter":{"properties":{"asPercentage":{"type":"boolean","title":"As percentage","description":"true -> filter on the percentage value of the headcount growth<br>false -> filter on the absolute value of the headcount growth<br>","examples":[true,false]},"growthRange":{"$ref":"#/components/schemas/FromToFloat","title":"Headcount growth","description":"Filter by headcount growth values. Valid range: -10,000,000 to 10,000,000.<br>If `as_percentage=false`, values are in integer form (e.g., `5`, `-5`).<br>If `as_percentage=true`, values are in decimal form (e.g., `0.5` = 50%).","examples":[{"from":-1.0,"to":3.0}]},"months":{"$ref":"#/components/schemas/HeadcountGrowthMonths","title":"Period in months","description":"Headcount growth period in months","examples":["Three months"]},"department":{"$ref":"#/components/schemas/Department","description":"Functional department for the headcount growth filter. Departments are assigned by job function, not seniority — a VP of Sales appears under 'Sales', a CTO under 'Engineering', a CMO under 'Marketing and Advertising', a CFO under 'Accounting and Finance', a CHRO under 'HR', a CLO/General Counsel under 'Legal'. 'Management' captures CEO, COO, and general-manager roles only. For VP/leadership hiring signals across functions, use anyOf with the relevant functional departments rather than 'Management' alone.","examples":["Accounting and Finance"]}},"additionalProperties":false,"type":"object","required":["asPercentage","growthRange","months","department"],"title":"DepartmentGrowthFilter"},"DepartmentSize":{"properties":{"department":{"$ref":"#/components/schemas/Department","description":"Department name"},"size":{"type":"integer","title":"Size","description":"Department size"}},"type":"object","required":["department","size"],"title":"DepartmentSize"},"DepartmentSizeFilter":{"properties":{"from":{"type":"integer","nullable":true,"title":"Greater than or equal to","description":"Greater than or equal to"},"to":{"type":"integer","nullable":true,"title":"Less than or equal to","description":"Less than or equal to"},"department":{"$ref":"#/components/schemas/Department"}},"additionalProperties":false,"type":"object","required":["department"],"title":"DepartmentSizeFilter"},"DepartmentSizesGrowth":{"properties":{"department":{"$ref":"#/components/schemas/Department","description":"Department name"},"growth":{"$ref":"#/components/schemas/Growth","nullable":true,"title":"Headcount growth","description":"Headcount growth per department"}},"type":"object","required":["department","growth"],"title":"DepartmentSizesGrowth"},"EmailWebhookPerson":{"properties":{"id":{"type":"string","title":"Id","description":"Internal ocean id of the person","examples":["e9447c74eafa8a19"]},"domain":{"type":"string","title":"Domain","description":"Domain of the company the person is working for","examples":["google.com"]},"name":{"type":"string","nullable":true,"title":"Name","description":"Full name of the person","examples":["John Doe"]},"firstName":{"type":"string","nullable":true,"title":"Firstname","description":"First name of the person","examples":["John"]},"lastName":{"type":"string","nullable":true,"title":"Lastname","description":"Last name of the person","examples":["Doe"]},"country":{"type":"string","nullable":true,"title":"Country","description":"Country code of the person","examples":["us","dk"]},"state":{"type":"string","nullable":true,"title":"State","description":"State code of the person","examples":["CA","NY"]},"location":{"type":"string","nullable":true,"title":"Location","description":"Location of the person","examples":["Copenhagen, Capital Region, Denmark"]},"linkedinUrl":{"type":"string","nullable":true,"title":"Linkedinurl","description":"Link to the linkedin profile of the person","examples":["https://www.linkedin.com/in/someone"]},"seniorities":{"items":{"$ref":"#/components/schemas/Seniority"},"type":"array","nullable":true,"title":"Seniorities","description":"List of seniorities computed from the job title of the person","examples":[["C-Level","Manager"]]},"departments":{"items":{"$ref":"#/components/schemas/Department"},"type":"array","nullable":true,"title":"Departments","description":"List of departments computed from the job title of the person","examples":[["Management","Marketing and Advertising"]]},"photo":{"type":"string","nullable":true,"title":"Photo","description":"Link to the person's profile picture on LinkedIn","examples":["http://media.licdn.com/dms/image/somelink"]},"jobTitle":{"type":"string","nullable":true,"title":"Jobtitle","description":"Job title of the person","examples":["Professeur"]},"jobTitleEnglish":{"type":"string","nullable":true,"title":"Jobtitleenglish","description":"English translation of the person's job title","examples":["Teacher"]},"currentJobDescription":{"type":"string","nullable":true,"title":"Currentjobdescription","description":"Current job description of the person","examples":["Software Engineer specializing in cloud infrastructure"]},"experiences":{"items":{"$ref":"#/components/schemas/Experience"},"type":"array","nullable":true,"title":"Experiences","description":"List of experiences of the person","examples":[[{"dateFrom":"2020-01-01","dateTo":"2021-01-01","description":"Software Engineer specializing in cloud infrastructure","domain":"domain.com","jobTitle":"Software Engineer"}]]},"summary":{"type":"string","nullable":true,"title":"Summary","description":"Summary of the person","examples":["Some text that the person wrote to describe themselves"]},"skills":{"items":{"type":"string"},"type":"array","nullable":true,"title":"Skills","description":"Skills of the person","examples":[["Product Management","Entrepreneurship","Social Media"]]},"phone":{"$ref":"#/components/schemas/public_api__models__person__Phone","nullable":true,"description":"Phone numbers of the person","examples":[{"numbers":["+4512345678","+33 6 00 00 00 00"],"status":"verified"}]},"email":{"$ref":"#/components/schemas/public_api__models__person__Email","nullable":true,"title":"Email","description":"Email of the person","examples":[{"address":"guessed@somedomain.com","status":"guessed"},{"address":"verified@otherdomain.com","status":"verified"}]},"inferredEmails":{"items":{"type":"string"},"type":"array","title":"Inferredemails","description":"List of inferred email addresses for the person. This is only available for enterprise subscriptions.","examples":[["john.doe@domain.com","j.doe@domain.com"]]},"updatedAt":{"type":"string","nullable":true,"title":"Updated at","description":"When has the person data been updated for the last time","examples":["2022-10-27T12:09:37Z"]},"connectionsCount":{"type":"integer","nullable":true,"title":"Number of connections","description":"Number of LinkedIn connections of the person","examples":[10,500]},"followersCount":{"type":"integer","nullable":true,"title":"Number of followers","description":"Number of LinkedIn followers of the person","examples":[50,1000]},"headline":{"type":"string","nullable":true,"title":"Headline","description":"Headline of the person","examples":["Senior Software Engineer | Tech Lead"]}},"type":"object","required":["id","domain"],"title":"EmailWebhookPerson"},"EnrichCompaniesResult":{"properties":{"status":{"type":"string","const":"in progress","title":"Status","description":"Status of the enrichment request. Always `\"in progress\"` initially, as enrichment is processed asynchronously in the background. Once completed, results for all companies will be sent to the provided webhook.","examples":["in progress"]}},"type":"object","required":["status"],"title":"EnrichCompaniesResult"},"EnrichCompaniesWebhookResult":{"properties":{"companies":{"items":{"$ref":"#/components/schemas/PublicCompanyWithUniqueId"},"type":"array","title":"Enriched companies","description":"List of enriched companies"},"overallStatus":{"$ref":"#/components/schemas/OverallEnrichmentStatus","title":"Overall enrichment status","description":"Status of the whole enrichment batch: `\"Completed`\" if all companies were processed, `\"Incomplete`\" if enrichment failed because of time out."},"creditsUsed":{"type":"number","title":"Creditsused","description":"Number of credits charged for this request.","examples":[1.0]}},"type":"object","required":["overallStatus","creditsUsed"],"title":"EnrichCompaniesWebhookResult"},"EnrichCompanyResult":{"properties":{"domain":{"type":"string","title":"Domain","description":"Domain of the company, used as a unique identifier","examples":["dundermifflinpaper.com"]},"countries":{"items":{"type":"string"},"type":"array","nullable":true,"title":"Countries","description":"List of all countries in which the company operates","examples":[["us","ca"]]},"primaryCountry":{"type":"string","nullable":true,"title":"Primary country","description":"Main country of the company","examples":["us"]},"companySize":{"$ref":"#/components/schemas/PublicCompanySize","nullable":true,"title":"Company size range","description":"Company size range","examples":["2-10"]},"industryCategories":{"items":{"type":"string"},"type":"array","nullable":true,"title":"Industrycategories","description":"Industry categories of the company<br>Available values can be found at /v2/data-fields endpoint.","examples":[["Consumer Electronics","Hardware"]]},"industries":{"items":{"type":"string"},"type":"array","nullable":true,"title":"Industries","description":"Industries of the company<br>Available values can be found at /v2/data-fields endpoint.","examples":[["Audio","Electronics"]]},"linkedinIndustry":{"type":"string","nullable":true,"title":"Linkedinindustry","description":"Linkedin industry of the company<br>Available values can be found at /v2/data-fields endpoint.","examples":["Computer Software"]},"ecommerce":{"type":"boolean","nullable":true,"title":"E-Commerce","description":"True if the company is an e-commerce company","examples":[true]},"keywords":{"items":{"type":"string"},"type":"array","nullable":true,"title":"Keywords","description":"Keywords associated with the company","examples":[["paper","premium copy paper"]]},"employeeCountOcean":{"type":"integer","nullable":true,"title":"Employeecountocean","description":"Number of people working at the company in our database.","examples":[57]},"employeeCountLinkedin":{"type":"integer","nullable":true,"title":"Employeecountlinkedin","description":"Number of people linked to the company page on Linkedin. This number might be higher than `employeeCountOcean` because of private profiles.","examples":[70]},"revenue":{"$ref":"#/components/schemas/Revenue","nullable":true,"title":"Revenue range","description":"Revenue range","examples":["1-10M"]},"yearFounded":{"type":"integer","nullable":true,"title":"Yearfounded","description":"Year the company was founded","examples":[1999]},"description":{"type":"string","nullable":true,"title":"Description","description":"Company's description","examples":["Dunder Mifflin Paper Company, Inc. is a fictional paper and office supplies wholesale company featured in the American television series The Office."]},"emails":{"items":{"type":"string"},"type":"array","nullable":true,"title":"Emails","description":"Emails of the company","examples":[["email1@domain.com","email2@domain.com"]]},"phones":{"items":{"$ref":"#/components/schemas/ContactNumber"},"type":"array","nullable":true,"title
[...]
